
@import 'https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i&display=swap';
@import 'https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css';
@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css";
@import './bootstrap.min.css';
@import './blog.css';
@import './modal.css';
@import './landing-page.css';
@import './style.css';
@import './responsive.css';
@import './mystyles.css';
