/*
Blog and Single Blog Syle---------------
------------------------------------------------------------*/
ul,ol {
	list-style: none;
	padding: 0;
}
a:hover {
	text-decoration: none;
}
.blog-page-header-style.header-area .navbar.navbar-expand-lg{
	background: #000538 !important;
}
.blog-page-header-style .navbar-nav .nav-link {
	color: #fff;
}
.header-area .navbar-light .navbar-nav .nav-link:active {
    color: #f03177;
}
.navbar-light .navbar-nav .show>.nav-link {
    color: #f03177;
}
.header-bg.blog-page-bg {
    background-image: url('../../assets/images/blog-cover.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    position: relative;
    padding: 5%;
    z-index: 999;
    height: 100%;
    width: 100%;
}
.header-bg.blog-page-bg:before {
    content: " ";
    background: rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
.header-bg.blog-page-bg .header-content h1 {
    padding-top: 0%;
    font-size: 40px;
    line-height: 50px;
}
.blog-page-bg .btn-register {
    background: #f03177;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 5px;
    border: 2px solid #f03177;
}
.blog-page-bg .btn-register:hover {
    background: transparent;
}
.blog-page-bg .small-font {
	font-size: 12px;
}
.blog-page-bg .search-form-blog input {
	height: 44px;
}
.blog-content-page .blog-categories .navbar-nav .nav-item .nav-link {
    font-family: "Axiforma-Regular";
    font-size: 13px;
    color: #9c9c9c;
    padding: 10px;
    padding-top: 15px;
}

.blog-content-page .blog-categories .navbar-nav .nav-item.active .nav-link {
	color: #000;
}
.blog-content-page .blog-categories .navbar-nav .nav-item .nav-link:hover {
	color: #000;
}
.blog-content-page .blog-grid-area .messages-title {
	color: #212121;
	font-size: 20px;
}
.blog-content-page .blog-grid-area .blog-items .item img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-content-page .blog-grid-area .blog-items .item .post-title a{
    color: #8e9092;
    font-size: 14px;
}
.blog-content-page .blog-grid-area .blog-items .item .post-des {
    line-height: 14px;
}
.blog-content-page .blog-grid-area .blog-items .item .post-des a{
    color: #343434;
    font-size: 14px;
}
.blog-content-page .blog-grid-area .blog-items .item .date{
    color: #868686;
    font-size: 11px;
}

.right-sidebar .blog-categories-widget.widget .categories-list {
	list-style: none;
	padding: 0;
}
.right-sidebar .widget .widget-title {
	font-family: 'Axiforma-ExtraBold' !important;
	font-size: 13px;
}
.right-sidebar .blog-categories-widget.widget .categories-list li a{
	font-size: 14px;
	font-family: 'Axiforma-SemiBold' !important;
}
.right-sidebar .blog-categories-widget.widget .categories-list li a:hover{
	color: #212121 !important;
	text-decoration: none;
}
.right-sidebar .popular-posts-widget.widget .popular-posts-list li {
	margin-bottom: 20px;
	line-height: 16px;
}
.right-sidebar .popular-posts-widget.widget .popular-posts-list li a{
	font-size: 14px;
	font-family: 'Axiforma-SemiBold' !important;
	color: #343434;
}
.right-sidebar .popular-posts-widget.widget .popular-posts-list li a span{
	display: block;
	margin-top: 1px;
}
.highlight-text {
	color: #3b50d8 !important;
}
.pagination-area .paginations li {
	display: inline-block;
}
.pagination-area .paginations li a {
	font-size: 16px;
    font-family: 'Axiforma-SemiBold' !important;
    color: #3b50d8;
    padding: 8px 14px;
}
.pagination-area .paginations li.active a {
	background: #5c6ac4;
	color: #fff;
}
.pagination-area .paginations li a:hover{
	background: #5c6ac4;
	color: #fff;
	text-decoration: none;
}
/*
Blog Single ---------------
--------------------------------------*/
.blog-single-area .date{
	color: #637381;
}
.blog-single-area .post-title {
    font-size: 35px;
    color: #000;
    line-height: 35px;
}
.blog-single-area .blog-single-social .social-icons li{
	display: inline-block;
	line-height: 0;
}
.blog-single-area .blog-single-social .social-icons li a{
	font-size: 22px;
    padding: 0px 6px;
}
.blog-single-area .blog-single-social .social-icons li a.email{
	color: #000000;
}
.blog-single-area .blog-single-social .social-icons li a.pinterest{
	color: #ba413e;
}
.blog-single-area .blog-single-social .social-icons li a.facebook{
	color: #516ea3;
}
.blog-single-area .blog-single-social .social-icons li a.twiiter{
	color: #4db7ec;
}
.blog-single-area .blog-single-social .social-icons li a.linkedin{
	color: #3b84ac;
}
.blog-single-content-page .blog-single-area .post-content h5 {
	color: #000;
	font-family: 'Axiforma-Bold' !important;
}
.blog-single-content-page .blog-single-area .post-content p {
    color: #848383;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-family: Axiforma-Regular;
    font-size: 16px;
    line-height: 1.6;
}

.blog-single-content-page .blog-single-area .post-content ul{
    list-style: none;
	font-size: 16px;
	margin-bottom: 1.5rem!important;
}

.blog-single-content-page .blog-single-area .post-content ul li{
    color: #848383;
    margin-bottom: 7px;
}
.blog-single-content-page .blog-single-area .post-content ul li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    color: #f03177;
    font-size: 18px;
    content: "\F058";
    display: inline-block;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: 900;
}

.blog-single-content-page .right-sidebar .score-filter span.score-rating {
	color: #218d27;
	font-size: 24px;
}
.widget.search-filter-posts-widget.select-filter-area {
	margin-top: 0;
}