/*
Landing Page Style --------------------
---------------------------------------------*/
.header-area.landing-page-header-style nav.navbar {
	position: absolute;
    z-index: 10000;
    top: 0;
    width: 100%;
}
.header-area.landing-page-header-style .header-bg.landing-page-bg.business-landing {
    background-image: url('../../assets/images/business-landing-page-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
    height: 650px;
    width: 100%;
}
.affiliate-landing {
    background-repeat: no-repeat;
    background-position:  top center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 999;
    height: 650px;
    width: 100%;
}
 .header-bg.landing-page-bg .header-content {
    position: absolute;
    top: 145px;
    display: table;
    width: 100%;
}
.header-bg.landing-page-bg .header-content .right-content {
    max-width: 85%;
}
.header-bg.landing-page-bg.business-landing:before {
     content: " ";
    background: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
.header-bg.landing-page-bg:before {
    content: " ";
    background: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.header-bg.landing-page-bg .header-content h5 {
    line-height: 26px;
}
.header-bg.landing-page-bg .header-content h5 {
    line-height: 26px;
}
.header-bg.landing-page-bg .header-content h1 {
    padding-top: 8%;
    font-size: 40px;
    line-height: 56px;
}
.landing-page-header-style .navbar-nav .nav-link {
	color: #fff;
    font-size: 12px;
}
.header-area .navbar-light .navbar-nav .nav-link:active {
    color: #f03177;
}
.navbar-light .navbar-nav .show>.nav-link {
    color: #f03177;
}
.landing-page-bg .landing-page-bg {
    padding-top: 10%;
    padding-bottom: 0;
}
.landing-page-bg .btn-register {
    background: #f03177;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 60px;
    border-radius: 50px;
    border: 2px solid #f03177;
}
.landing-page-bg .small-font {
	font-size: 12px;
    line-height: 15px;
}
.landing-page-bg .small-font.phone {
    font-size: 14px;
}
.landing-page-bg i {
	color: #f03177;
}
.landing-page-bg .btn-register:hover {
    background: transparent;
}
.border-style hr{
	border-width: 3px;
	border-color: #662577;
    width: 15%;
    margin: 0px auto;
}
.landing-page-boxes-area .item h4 {
	color: #212121;
	font-size: 22px;
}
.landing-page-boxes-area .item p {
    color: #212121;
    font-size: 15px;
    max-width: 300px;
    margin: 0px auto;
}
.landing-page-boxes-area .item {
	-webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
}
.landing-page-boxes-area .item.shadow-sm.bg-white.p-3 {
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,.10)!important;
}
.landing-page-boxes-area .item:hover{
	background: #fff;
	box-shadow: 0px 0px 8px 2px rgba(0,0,0,.10)!important;
}
.landingpage-result-area h3 {
  color: #212121;
}
.landingpage-result-area p {
  color: #212121;
  font-size: 15px;
}
.leads-immediately-area .border-style hr {
    width: 24%;
    margin: 0;
}
.btn-register {
    background: #f03177;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 60px;
    border-radius: 50px;
    border: 2px solid #f03177;
}
.btn-register:hover {
    background: transparent;
}
.leads-immediately-area .small-font {
	font-size: 12px;
}
.leads-immediately-area p {
  color: #212121;
  font-size: 15px;
}
.leads-immediately-area a {
	font-size: 14px;
  color: #f03177;
}
.leads-immediately-area i {
	color: #f03177;
}