/*
Mobile Styles----------------------------------
---------------------------------
*/
/*Fonts Include*/
@font-face {
  font-family: 'Axiforma-Regular';
  src: url(../fonts/Axiforma-Regular.ttf) format('truetype');
  src: url(../fonts/Axiforma-Regular.eot) format('embedded-opentype'),
   url(../fonts/Axiforma-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Axiforma-Thin';
  src: url(../fonts/Axiforma-Thin.ttf) format('truetype');
  src: url(../fonts/Axiforma-Thin.eot) format('embedded-opentype'),
   url(../fonts/Axiforma-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Axiforma-Light';
  src: url(../fonts/Axiforma-Light.ttf) format('truetype');
  src: url(../fonts/Axiforma-Light.eot) format('embedded-opentype'),
   url(../fonts/Axiforma-Light.woff) format('woff');
}
@font-face {
  font-family: 'Axiforma-SemiBold';
  src: url(../fonts/Axiforma-SemiBold.ttf) format('truetype');
  src: url(../fonts/Axiforma-SemiBold.eot) format('embedded-opentype'),
   url(../fonts/Axiforma-SemiBold.woff) format('woff');
}
@font-face {
  font-family: 'Axiforma-Medium';
  src: url(../fonts/Axiforma-Medium.ttf) format('truetype');
  src: url(../fonts/Axiforma-Medium.eot) format('embedded-opentype'),
  url(../fonts/Axiforma-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Axiforma-Bold';
  src: url(../fonts/Axiforma-Bold.ttf) format('truetype');
  src: url(../fonts/Axiforma-Bold.eot) format('embedded-opentype'),
   url(../fonts/Axiforma-Bold.woff) format('woff');
}
body {
    background: #f5f5f5;
    font-family: 'Axiforma-Regular';
    font-size: 14px;
    line-height: 1.75;
}
.font-weight-200 {
    font-family: 'Axiforma-Thin' !important;
}
.font-weight-300 {
    font-family: 'Axiforma-Light' !important;
}
.font-weight-400 {
    font-family: 'Axiforma-Regular' !important;
}
.font-weight-500 {
    font-family: 'Axiforma-Medium' !important;
}
.font-weight-600 {
    font-family: 'Axiforma-SemiBold' !important;
}
.font-weight-700 {
    font-family: 'Axiforma-Bold';
}
/*Header*/
.header-area .header-bg {
    background-image: url('../../assets/images/airco.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 20px;
    padding-bottom: 6%;
    z-index: 999;
    height: 100%;
    width: 100%;
}
.header-area .header-bg:before {
    content: " ";
    background: rgba(0,0,0,0.6954131994594712);
    background: linear-gradient(to right, rgba(0,0,0,0.80) 20%, rgba(0,0,0,0.50) 82%);
    background: -moz-linear-gradient(to right, rgba(0,0,0,0.80) 20%, rgba(0,0,0,0.50) 82%);
    background: -webkit-linear-gradient(to right, rgba(0,0,0,0.80) 20%, rgba(0,0,0,0.50) 82%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
.header-area .header-bg .header-content h1{
    padding-top: 20%;
    padding-bottom: 20%;
}
.select-filter-area {
    position: relative;
    width: auto;
    top: 0px;
    z-index: 999;
    max-width: 100%;
    -webkit-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.75);
    max-width: 100%;
    /* margin: 0 auto; */
    margin-top: -130px;
    margin-right: 40px;
    display: block;
    margin-left: 40px;
}
.select-filter-area .select-box {
    background: linear-gradient(#872b66, #3b2559);
    background: -moz-linear-gradient(#872b66, #3b2559);
    background: -webkit-linear-gradient(#872b66, #3b2559);
}
.score-filter span.score-rating {
    font-size: 28px;
}
.filter-btns .btn-install {
    background: #fff;
    font-family: "Axiforma-Regular";
    margin-bottom: 20px;
    display: flex;
    padding: 12px 16px;
    border: none;
    max-width: 300px;
    width: 100%;
}
.filter-btns .btn-install p {
    text-align: left;
    flex: 1;
    width: 90%;
    display: inline-block;
    margin: 0;
}
.filter-btns .btn-install {
    background: #fff;
    font-family: "Axiforma-Regular";
    margin-bottom: 20px;
    display: flex;
    padding: 12px 16px;
    border: none;
    min-width: 100%;
    max-width: 100%;
}
ul.body-list-icons {
    list-style: none;
    font-size: 12px;
}
ul.body-list-icons li {
    color: #000;
    /*margin-bottom: 2px;*/
}
ul.body-list-icons li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    color: #f03177;
    font-size: 18px;
    content: "\f058";
    display: inline-block;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: 900;
}
.lists-content p {
  color: #797979;
}
.img-flag {
    position: relative;
}
.img-flag img{
    border-radius: 5px;
}
.img-flag .country-flag{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 0px;
}
.images-area .img-flag .single-img {
    height: 175px;
    object-fit: cover;
    object-position: center;
}
.mobile-comments .mobile-comment h5{
    color: #212121;
}
.mobile-comments .mobile-comment p{
    font-family: 'Axiforma-Light';
    color: #212121;
}
span.mt-0.username-title {
    display: inline-block;
    font-size: 18px;
}
.mobile-how-it-work h5 {
  color: #000;
}
.mobile-how-it-work p {
  color: #808080;
}
.images-area .img-flag .single-img {
    height: 200px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.mobile-waarom-tonero .media h5 {
  color: #000;
}
.mobile-waarom-tonero .media p {
  color: #6b6b6b;
}
.footer {
    background: #000;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer-area p {
  color: #676767;
  line-height: 1.9;
}
.footer-links {
    list-style: none;
}
.footer-links li a{
    color: #828282;
    margin-bottom: 5px;
    display: inline-block;
}
.footer-links li a:hover{
    color: #fff;
}
.footer-social-links a {
    color: #828282;
    font-size: 20px;
    display: inline-block;
    padding-right: 12px;
}
@media(max-width: 550px) {
  .header-area .header-bg .header-content h1 {
    padding-top: 30%;
    padding-bottom: 30%;
}
.mobile-filter-area img {
    width: 16px;
}
.mobile-padding {
    display: block;
    padding: 0 20px;
}
.mobile-filter-area .average-area h3 {
    font-size: 28px;
    margin-top: 8px;
}
}