/*
Modal Window Style
-----------------------*/
.modal.show{
    display: block;
    z-index: 9999;
}
.modal-backdrop{
    z-index: 9999;
}
.multi-steps-modal.modal .modal-header {
	width: 100%;
    height: 72px;
    background-color: #f7f8fa;
    box-shadow: inset 0 -1px 0 0 #e2e2e2;
    position: relative;
    z-index: 3;	
}
.multi-steps-modal.modal .modal-header .prev-step-btn {
    color: #000;
    font-size: 18px;
    padding-top: 8px;
}
.multi-steps-modal.modal .modal-content {
	height: 92vh;
	overflow-y: auto;
	overflow-x: hidden;
}
.multi-steps-modal.modal .modal-header h5 {
    color: #424242;
    padding-top: 8px;
}
.multi-steps-modal.modal .modal-header button.close {
    float: none;
    margin: 0;
    padding-top: 8px;
    display: inline-block;
    font-size: 30px;
    color: #000;
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
}
.multi-steps-area .heading h3{
    font-size: 24px;
    color: #212121;
}
.multi-steps-area .modal-checkboxes {
	background-color: #fff;
    border: 1px solid #f0f0f0;
}
.multi-steps-area .modal-checkboxes .item-checkbox{
	padding: 18px 40px;
	transition: background .6s;
	border-bottom: 1px solid #f0f0f0;
    position: relative;
    cursor: pointer;
}
.multi-steps-area .modal-checkboxes .item-checkbox:nth-child(2n+1){
	background: #f5f5f5;
}
.multi-steps-area .modal-checkboxes .item-checkbox:hover{
	background: #f5f5f5;
}
.multi-steps-area .modal-checkboxes .item-checkbox .radio-style .custom-control-label::before {
    background-color: #f5f5f5;
    border: none;
    box-shadow: inset 0 0 0 1px #9e9e9e;
}
.multi-steps-area .modal-checkboxes .item-checkbox .radio-style .custom-control-input:checked~.custom-control-label::before {
    border-color: #212121;
    box-shadow: inset 0 0 0 1px #212121, inset 0 0 0 4px #fff, inset 0 0 0 16px #212121;
}
.multi-steps-area .modal-checkboxes .item-checkbox .custom-radio.radio-style .custom-control-input:checked~.custom-control-label::after {
    background-image: none;
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    color: #212121;
    font-size: 10px;
    top: 3px;
    left: -26px;
    text-align: center;
}
/* .multi-steps-area .modal-checkboxes .item-checkbox .custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
} */
.multi-steps-area .modal-checkboxes .item-checkbox .custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    display: block;
    cursor: pointer;
}
.calendar-btn .btn-calendar {
	background: #606060;
    color: #fff;
    padding: 10px;
}
.phon-dropdown-area .input-group input {
    border: 1px solid #e2e2e2;
    height: 56px;
    border-radius: 4px;
    transition: all .1s;
}
.phon-dropdown-area  button.btn.btn-phone.dropdown-toggle {
    border: 1.3px solid #eee;
    border-right-width: 0px;
}
.phon-dropdown-area .dropdown-menu {
    min-width: 5rem;
}
.phon-dropdown-area .dropdown-menu {
    min-width: 5rem;
}
.phon-dropdown-area .dropdown-item {
    padding: .25rem 1.1rem;
}
button.close {
	outline: none;
}
.enter-opt-area input {
    height: 56px;
    font-size: 22px;
    text-align: center;
    border-radius: 0px;
    margin-right: 10px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom-width: 1.5px;
    border-bottom-color: #919191;
}
.enter-opt-area input:focus {
	border-bottom-color: #000;
}
.timer-opt {
	color: #4caf4c;
}
.btn-submit-opt {
	height: 48px;
    width: 100%;
    background-color: #000;
    color: #fff;
    border-color: #000;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 40px;
}
.btn.btn-submit-opt:disabled {
    background-color: #bbb;
    color: #fff;
    border-color: #bbb;
    opacity: 1;
}
.btn-submit-opt:hover {
	background: #272727;
	color: #fff;
}
.btn.btn-black {
	background: #000;
	color: #fff;
	border-color: #000;
}
.btn.btn-black:hover {
	background: #272727;
	color: #fff;
}
.btn.btn-outline-black {
	background: transparent;
	color: #000;
	border-color: #000;
}
.btn.btn-outline-black:hover {
	background: #000;
	color: #fff;
}
.klapdrop-area .klapdrop-list li {
	background: #f5f5f5;
    padding: 15px 30px;
    transition: background .6s;
    position: relative;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.45);
}
.klapdrop-area .klapdrop-list li i {
    font-size: 16px;
    position: relative;
    top: 2px;
}
.klapdrop-text {
	font-size: 16px;
}
/*Form Desgin*/
.contactgegevens-form .form-group {
  position: relative;
  margin-bottom: 2.25rem;
}
.contactgegevens-form .form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}
.contactgegevens-form .form-group .form-help {
  position: absolute;
  width: 100%;
}
.contactgegevens-form .form-group input {
  height: 1.9rem;
}
.contactgegevens-form .form-group .control-label {
    position: absolute;
    top: 13px;
    left: 20px;
    pointer-events: none;
    padding-left: 20px;
    z-index: 1;
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: normal;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
}
.contactgegevens-form .form-group.naam .control-label {
	left: 0;
}
.contactgegevens-form .form-group .bar {
  position: relative;
  border-bottom: none;
  display: block;
}
.contactgegevens-form .form-group .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #000;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.contactgegevens-form .form-group input {
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    color: transparent;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
    border: 1.5px solid #d4d4d4;
    height: 50px;
    padding-left: 35px;
    /*border-radius: 3px;*/
}
.contactgegevens-form .form-group input:focus,
.contactgegevens-form .form-group input:valid{
  color: #333;
}
.contactgegevens-form .form-group input:focus ~ .control-label,
.contactgegevens-form .form-group input:valid ~ .control-label{
    font-size: 0.8rem;
    color: gray;
    top: -0.5rem;
    left: 0;
    background: #fff;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.contactgegevens-form .form-group input:focus{
  outline: none;
}
.contactgegevens-form .form-group input:focus ~ .control-label {
  color: #000;
}
.contactgegevens-form .form-group input:focus ~ .bar::before {
  width: 100%;
  left: 0;
}
.contactgegevens-form .form-group.naam input {
    padding-left: 20px;
}
.contactgegevens-form .form-group.voornaam label.control-label {
    left: 110px;
}
.contactgegevens-form .form-group.voornaam input {
    text-indent: 110px;
}
.mr-mrs-btns {
	background: #fff;
    position: absolute;
    top: 7px;
    left: 10px;
}
.mr-mrs-btns .btn-switch {
    color: #000;
    border-radius: 50px;
    border-color: #000;
    padding: 5px 8px;
}
.mr-mrs-btns .btn-switch.active {
	background: #000;
	color: #fff;
}
.contactgegevens-form .icon {
	background: #fff;
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 18px;
}
/*End Form Design*/
.modal-footer.footer-btns {
    background-color: #f7f8fa;
	padding: 8px;
    box-shadow: inset 0 1px 0 0 #e2e2e2;
    display: block;
}
.action-btn .btn-next{
	background-color: #212121;
    border: 1px solid #212121;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.action-btn .btn-next:hover {
    background: rgba(0,0,0,.8) radial-gradient(circle,transparent 1%,rgba(0,0,0,.8) 0) 50%/15000%;
}
.modal-textarea textarea.form-control {
    height: 200px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);
    border: 1px solid #d4d4d4;
    margin: 0 auto;
    resize: none;
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.5s;
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

.animate-left {
    position: relative;
    animation: animateleft 0.5s;
  }
  
  @keyframes animateleft {
    from {
      right: -300px;
      opacity: 0;
    }
  
    to {
      right: 0;
      opacity: 1;
    }
  }
@media only screen and (min-width: 769px){
.modal-textarea textarea {
    width: 448px;
}
}
@media (max-width: 768px) {
.multi-steps-modal .modal-dialog {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%
}

.multi-steps-modal .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
}


.modal-body.thank-you .modal-height {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body.thank-you .thank-you-msg {
    font-size: 28px;
}