.navbar {
    z-index: 9999;
    padding: 0 10px;

}
.blog-single-area .right-sidebar.pl-5 {
    padding-left: 0rem!important;
}


.addi{
    max-width: 220px;
}

.flagmenu li:first-child:before{
  content: "";
  background-image: url(../images/icons/flag-belgium.svg);
  width: 20px;
    height: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #2f2f2f;
}

.flagmenu li:last-child:before{
    content: "";
    background-image: url(../images/icons/flag-netherlands.svg);
    width: 20px;
    height: 14px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #2f2f2f;
  }

  .left-content-area .media + .media {
    border-top: none;
    margin-top: 1rem;
    padding-top: 0;
}

.max-w-500 {
    max-width: 500px;
    margin: 0px auto;
}

.flag-icon{
    margin-right: 4px;
}












/*********** Privacy ***********/



.privacy-page {
    padding: 100px 0px;
}

.privacy-box {
    background: #fff;
    padding: 50px;

}

.privacy-box p {
    color: #777676;
    font-family: 'Axiforma-Regular';
    font-size: 15px;
    line-height: 1.75;
}


.privacy-box h4, .privacy-box h3, .privacy-box h2, .privacy-box h1, .privacy-box h5, .privacy-box h6{
    margin: 0;
    padding-top: 30px;
    padding-bottom: 15px;
    color: #000;
    font-size: 20px;
    width: 100%;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Axiforma-SemiBold';
}

.privacy-box ul {
    list-style: none;
    font-size: 14px;
    font-family: 'Axiforma-Regular' !important;
    margin-bottom: 1.5rem!important;
}

.privacy-box ul li {
    margin-bottom: 7px;
    color: #686868;
    font-size: 14px;
    line-height: 1.75;
}

.privacy-box ul li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    color: #f03177;
    font-size: 18px;
    content: "\F058";
    display: inline-block;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: 900;
}








/*********** Terms Condition ***********/



.terms-page {
    padding: 100px 0px;
}

.terms-box {
    background: #fff;
    padding: 50px;

}

.terms-box p {
    color: #777676;
    font-family: 'Axiforma-Regular';
    font-size: 15px;
    line-height: 1.75;
}


.terms-box h4, .terms-box h3, .terms-box h2, .terms-box h1, .terms-box h5, .terms-box h6{
    margin: 0;
    padding-top: 30px;
    padding-bottom: 15px;
    color: #000;
    font-size: 20px;
    width: 100%;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Axiforma-SemiBold';
}

.terms-box ul {
    list-style: none;
    font-size: 14px;
    font-family: 'Axiforma-Regular' !important;
    margin-bottom: 1.5rem!important;
}

.terms-box ul li {
    margin-bottom: 7px;
    color: #686868;
    font-size: 14px;
    line-height: 1.75;
}

.terms-box ul li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    color: #f03177;
    font-size: 18px;
    content: "\F058";
    display: inline-block;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: 900;
}

/******************Blog ***********************/



.latest-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.latest-info-img {
    width: 50%;
    padding-right: 20px;
    position: relative;
    height: 90px;
}

.latest-info {
    width: 50%;
}

.latest-info-img span {
    background: #7e2a64;
    display: inline-block;
    padding: 2px 12px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 15px;
}

.latest-info-img img {
    height: 90px;
    width: 100%;
    object-fit: cover;
}

.latest-info h6 {
    font-size: 13px;
    color: #333;
    margin-bottom: 5px;
}

.latest-info span {
    font-size: 12px;
    color: #444;
}


.cat-list ul.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cat-list .nav-item {padding-right: 10px;}


.cat-list {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 40px;
}

.mbl-show{
    display: none;
}


.item .post-des p {
    margin-bottom: 5px;
}

.header-bg.blog-page-bg{
    padding: 8% 5%;
}

.white_logo_mbl{
    display: none;
}





/***************** Home **********************/




.home-page #header {
    position: absolute;
    z-index: 9999;
    width: 100%;
}

.home-page #header .header-area{
    background: transparent!important;
    box-shadow: none!important;
}

.home-page .navbar-light .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.home-page .navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.home-page .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
}


.home-page .white_logo_mbl{
    display: inline-block;
}

.home-page .white_logo_mbl img {
    max-width: 133px;
    width: 100%;
}

.home-page .default_logo_mbl{
    display: none;
}

.max-w-450 {
    max-width: 450px;
    margin: 0px auto;
}

.home-icons img{
height:40px;
width:40px;
margin-right:10px;

}

.home-icons span {
    color: #555;
    font-size: 17px;
}
.home-icons p {
    margin-bottom: 0;
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

.home-media{
    display: flex;
    align-items: center;
}


.bg-grey{
    background: #f5f5f5;
}


.home-icons{
    background: #fff;
    padding: 25px 10px;
}


.header-area .header-bg.home-page-bg .header-content h5 {
    margin-bottom: 40px!important;
    padding-top: 10px!important;
}

.home-service-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-service-title h2 {
    font-size: 35px;
    color: #555;
    margin: 0;
    padding-bottom: 20px;
}

.home-service-title p {
    font-size: 18px;
    margin: 0px auto;
    max-width: 550px;
    line-height: 1.2;
    color: #777676;
}


.how-box{
    text-align: center;
}


.how-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.how-title h2 {
    font-size: 35px;
    color: #555;
    margin: 0;
    padding-bottom: 20px;
}
.how-box h3 {
    color: #555;
    font-size: 25px;
    margin: 0;
    padding-top: 20px;
}

.how-box p {
    color: #444;
    font-size: 15px;
    line-height: 1.2;
    padding-top: 10px;
    max-width: 280px;
    margin: 0px auto;
}

.how-it-works {
    padding-bottom: 50px;
}

.phone-demo .search-area .search-icon-area {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0,-50%);
}

.phone-demo .search-area input {
    background-color: #fff;
    transition: background-color .1s ease-in-out;
    border: none !important;
    position: relative;
    padding: 20px 20px;
    padding-right: 35px;
    height: auto!important;
    line-height: 1.9;
    box-shadow: 2px 3px 5px #00000021;
    border-radius: 0;
    margin-bottom: 20px;
}
.phone-demo .search_icon {
    max-width: 250px;
}

.phone-demo .home-mobile-content-area h6 {
    font-size: 18px;
    line-height: 1.5;
}

.phone-demo .mobile-img-home {
    max-width: 290px;
}


.latest-box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.latest-box h3 {
    font-size: 20px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #555;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.latest-blog-section {
    padding-top: 20px;
    padding-bottom: 70px;
}

.latest-box p {
    margin: 0;
    font-size: 16px;
    line-height: 1.3;
    color: #555;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-top: 10px;
}


.latest-blog-section .how-title h3 {
    font-size: 24px;
    padding-bottom: 20px;
}

.mbl-search-logo{
    display: none;
}


.search-form .home-search-icon-area{
    display: none;
}

.mbl-design .post-title {
    margin-top: 18px!important;
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.blog-content-page .blog-grid-area .blog-items .item .post-des {
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.blog-content-page .blog-grid-area .blog-items .item .post-des a {
    color: #000000;
}

/*********** Thank You **************/


.thanku #header{
    position: relative;
    z-index: 9;
}
.thank-you-heading {
    text-align: center;
}

.thank-you-page {
    padding: 50px 0px;
    background: #fff;
    padding-bottom: 20px;
}


.thank-you-box p {
    font-size: 16px;
    color: #777676;
}

.thank-you-box .btn-home, .thank-you-box a {
    color: #5e6dc6;
    font-size: 14px;
    text-decoration: underline;
}

.thank-you-heading h3 {
    font-size: 23px;
}

.thank-you-heading h2 {
    font-size: 27px;
    padding-bottom: 30px;
    border-bottom: 1px solid #efefef;
    margin: 0px auto;
    margin-bottom: 30px;
    max-width: 600px;
    padding-top: 10px;
}

.thank-you-heading h3 span {
    color: #6d64ff;
    font-weight: 600;
}

.faq-container {
    max-width: 700px;
    margin: 0px auto;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    margin-top: 50px;
    padding: 40px;
}


.faq-content .accordion__item {
    margin-bottom: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    overflow: hidden;
}

.faq-content .accordion {
    border: none;
}

.faq-content .accordion__button {
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
    position: relative;
    padding: 22px 20px;
    padding-right: 50px;
}

.faq-content .accordion__button:hover, .faq-content .accordion__button:focus {
    background-color: #fff;
    outline: none;
}

.faq-content .accordion__button:after {
    content: "";
    background: #efefef;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 30px;
    position: absolute;
    right: 17px;
    top: 17px;
}


.faq-content .accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid #787878;
    border-right: 2px solid #787878;
    -webkit-transform: rotate(-45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: 25px;
    z-index: 9;
}

.accordion__item + .accordion__item {
    border-top: 1px solid #d4d4d4!important;
}

.faq-container h3 {
    margin: 0;
    padding-bottom: 30px;
    font-size: 24px;
}

.faq-content .accordion__panel {
    padding-top: 0;
    margin-top: -15px;
    z-index: 9;
    position: relative;
    padding-right: 50px
}

.faq-content .accordion__panel p {
    color: #777;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
}


.accordion__button[aria-expanded='true']::before, .accordion__button[aria-selected='true']::before {
    -webkit-transform: rotate(135deg)!important;
    transform: rotate(-135deg)!important;
    top: 30px!important;
}


.related-service {
    padding: 100px 0px;
    padding-bottom: 50px;
}

.related-service h3 {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
}


.related-service .single-img {
    height: 130px;
    width: 100%;
    border-radius: 0px;
    object-fit: cover;
    object-position: center;
}

.related-service h6 {
    color: #444;
    margin: 0!important;
    background: #fff;
    padding: 15px;
    font-size: 17px;
    box-shadow: 2px 3px 4px #0000001c;
}


.helo-text-register {
    text-align: center;
}




.faq-content .accordion__panel {
    -webkit-animation: none;
    animation: none;
}





/***************** 404 Page ****************/



.error-page .related-service {
    padding: 0px 0px;
    padding-bottom: 30px;
}

.page-four{
  padding-top: 30px;
}



.page-four .thank-you-heading h2 {
    max-width: 700px;
}


.error-page .phone-demo {
    padding-top: 30px;
}


.error-page .helo-text-register {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 20px;
}


/******************* Landing Page ******************/


.landing-page #header {
    position: absolute;
    z-index: 9999;
    width: 100%;
}


.landing-page #header .header-area {
    background: transparent!important;
    box-shadow: none!important;
}


.landing-page .default_logo_mbl {
    display: none;
}

.landing-page .white_logo_mbl {
    display: inline-block;
}


.landing-page  .header-area .search-area{
    display: none;
}


.landing-page .navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}


.landing-page .white_logo_mbl img {
    max-width: 133px;
    width: 100%;
}


.landing-page .navbar-light .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.header-bg.landing-page-bg .header-content h5 {
    font-size: 18px!important;
    max-width: 400px;
}

main.main-content.landing-content-page h5 {
    font-size: 18px!important;
    max-width: 750px;
    margin: 00px auto;
    margin-top: 0!important;
    line-height: 1.5;
}

main.main-content.landing-content-page h3 {
    margin-bottom: 10px!important;
    font-size: 26px;
}


.landing-page-boxes-area .col-lg-4:nth-child(2) .item {
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,.10)!important;
background: #fff;
}



/**********Service **********************/



.service-content-ui .header-area .header-bg{
    padding-bottom: 40px;
}


.section-items .navbar {
    min-height: auto;
}

.hoe-werk .card-body {
    padding: 1rem 2rem;
}

.waarom-tonero .card-body {
    padding: 1rem 2rem;
}


.sectionfive .faq-container {
    max-width: 100%;
    margin: 0px auto;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    margin-top: 0;
    padding: 40px 32px;
    background: #fff;
    box-shadow: none;
}


.images-area {
    padding-top: 70px;
}


.intrested-item {
    max-width: 100%;
    margin: 0px auto;
    border: 1px solid #CDCDCD;
    border-radius: 5px;
    margin-top: 0;
    padding: 40px 32px;
    background: #fff;
    box-shadow: none;
}

.intrested-item .images-area {
    padding-top: 0;
    margin-bottom: 10px!important;
}

.intrested-item .images-area h4 {
    text-align: left!important;
}


.intrested-item .images-area .col-lg-3.col-md-4:nth-child(4) {
    display: none;
}

.intrested-item .images-area .col-lg-3.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.header-area .header-bg .header-content ul {
    padding-left: 32px;
}

/********* Email ********/


.email-header {
    background-image: linear-gradient(to right, #7e2962, #262356);
    padding: 80px 0px;
    padding-bottom: 150px;
}

.email-footer{
    background-image: linear-gradient(to right, #7e2962, #262356);
    padding: 8px;

}
.email-header h3 {
    font-size: 30px;
    color: #fff;
    max-width: 700px;
    margin: 0px auto;
}

.email-header p {
    color: #fff;
    font-size: 18px;
    font-family: 'Axiforma-Light'!important;
    max-width: 500px;
    margin: 0px auto;
    padding-top: 10px;
    line-height: 1.3;
}


.register-page-area.klantenservice-area {
    margin-top: -100px;
}

.register-form .auth-input.form-control::placeholder, .register-form .auth-textarea.form-control::placeholder {
   visibility: hidden;
}



.register-form .btn-create-account {
    width: 100%;
    border-color: #d6d6d6;
    border-width: 1px;
    box-shadow: 0px 1px 2px 1px #3e3d3d2e;
    font-size: 14px;
    font-family: 'Axiforma-Bold'!important;
    color: #000;
    margin-top: -5px;
}


.register-form .auth-textarea.form-control {
    border-color: #dedede;
    
}

.register-form label {
    font-size: 14px;
}

.register-form .auth-input.form-control{
    border-color: #dedede;
    height: 40px;
}


.register-form .form-control:focus {
    border-color: #3d34cc;
}

.register-page-area .mbl-s{
    display: none;
}


.register-form .form-group {
    margin-bottom: 1rem;
}

/******** Contact Page ***************/


.contact-header {
    background-image: linear-gradient(to right, #7e2962, #262356);
    padding: 30px 0px;
    text-align: center;
}

.contact-header h3 {
    color: #fff;
    font-size: 30px;
}

.contact-header p {
    margin: 0!important;
    color: #fff;
    font-family: 'Axiforma-Regular'!important;
    font-size: 16px;
}

.contact-footer {
    background-image: linear-gradient(to right, #7e2962, #262356);
    padding: 8px;
}

.snelste-responsetijd-area {
    box-shadow: 0px 2px 8px 4px rgba(0,0,0,0.15)!important;
}

.klantenservice-page-area .faq-container {
    background: #fff;
}



.email-box .btn {
    font-size: 13px!important;
    color: #000;
}

/* .email-boxes-aera .email-box.shadow-sm {
    min-height: 195px;
} */

.snelste-responsetijd-area .card-body p:last-child {
    padding-bottom: 20px;
}


.klantenservice-page-area .helo-text-register.text-center {
    padding-top: 50px;
}

.email-boxes-aera .email-box p:last-child {
    padding-bottom: 12px;
}

hr.c-horz {
    max-width: 500px;
    margin: 0px auto;
    margin-top: 40px;
    padding-bottom: 10px;
    display: block;
}

.klantenservice-chats {
    padding: 0px 40px;
}

.klantenservice-page-area .faq-container h3 {
    color: #000;
    font-size: 27px;
}

.email-boxes-aera.mt-5 {
    margin-top: 3.5rem!important;
}



/******** Signle Blog *********/



.blog-bg-white{
    background: #fff;
    padding: 20px;
}

.single-latest-blog {
    margin-top: 30px;
    padding: 20px 10px;
    background: #fff;
}

.single-latest-blog .latest-blog-section .how-title h3 {
    text-align: left;
    padding: 5px 0px;
    margin: 0;
    color: #000!important;
    text-transform: uppercase;
    font-size: 20px;
}

.single-latest-blog .latest-blog-section {
    padding-top: 0px;
    padding-bottom: 10px;
}

.single-latest-blog .how-title {
    padding-top: 5px;
}


.single-latest-blog .col-12.col-md-6.col-lg-4:last-child {
    display: none;
}

.single-latest-blog .col-12.col-md-6.col-lg-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.single-latest-blog .latest-box h3 {
    padding-top: 40px;
}

ul.related-list li a {
    font-size: 16px;
    line-height: 16px!important;
    font-family: 'Axiforma-SemiBold';
    display: inline-block;
    color: #444;
}

ul.related-list li span {
    display: block;
    font-family: 'Axiforma-SemiBold';
    font-size: 15px;
    margin-top: -5px;
}

ul.related-list li {
    padding-block-end: 20px;
}

.post-img.mob-show {
    display: none;
}

.mbl-form{
    display: none;
}

.select-filter-area .gr-button {
    display: inline-block;
    background: #d8d8d8;
    padding: 8px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Axiforma-SemiBold';
    color: #000;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.4);
}
.blog-single-area .select-filter-area{
    box-shadow: none;
}


.blog-single-area .select-filter-area .select-box {
    box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.75);
}

.m-mbl-show{
    display: none;
}









/*********** Slider ***************/




.relevent {
    padding: 0px 10px;
}

.react-multi-carousel-track {
    padding: 10px 0px!important;
}


.realted-box{
    padding: 0px 10px;
}

.index-box{
    padding: 0px 10px;  
}


.register-form {
    min-height: 609px;
}


.react-multiple-carousel__arrow::before {
    font-size: 16px!important;
}

.react-multiple-carousel__arrow {
    min-width: 30px!important;
    min-height: 30px!important;
}

.react-multiple-carousel__arrow:focus {
    outline: none!important;
}

.single-related-blog {
    display: none;
}


.beschrijving table {
    width: 100%;
    margin-bottom: 2rem;
}

.left-content-area .card {
    border: 1px solid #CDCDCD;
    box-shadow: none;
}

.left-content-area .card-header {
    border-bottom: 1px solid #CDCDCD;
}

.beschrijving table th, .beschrijving table td {
    background: #f5f5f5;
    padding: 8px 15px;
    border: 2px solid #fff;
    text-align: right;
    color: #000;
    font-size: 13px;
    
}

.beschrijving table tr td:first-child, .beschrijving table th {
    font-family: 'Axiforma-SemiBold' !important;
    background: #e2f5fb;
}


.border {
    border: 1px solid #CDCDCD!important;
}


.beschrijving table th:first-child{
    background: #f5f5f5;
}


.left-content-area .card .card-body .media-body p {
    font-size: 12px;
    line-height: 1.6;
    font-family: 'Axiforma-Light';
}

.left-content-area .card .card-body p {
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
}

.left-content-area .card .card-body h5 {
    font-size: 16px;
    padding-top: 15px;
}

.meer-btn{
    display: none;
}

.left-content-area .card .card-body .media-body h5 {
    padding-top: 0;
}

.header-area .header-bg .header-bredcrumb .breadcrumb {
    font-family: 'Axiforma-Light';
}
.header-area .header-bg .header-bredcrumb .breadcrumb .breadcrumb-item a {
    color: #d6d6d6;
    font-size: 13px;
}

.header-area .header-bg .header-bredcrumb .breadcrumb .breadcrumb-item.active {
    color: #d6d6d6;
    font-size: 13px;

}

.header-area .header-bg .header-bredcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: #d6d6d6;
}
.select-filter-area{
    margin-top: -120px;
    -webkit-box-shadow: 0px 2px 14px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 14px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 14px 3px rgba(0,0,0,0.75);
}

.header-area .header-bg .header-content ul {
    color: #d6d6d6;
}

.filter-btns .btn-install {
    padding: 10px 16px;
    font-size: 15px;
}

.left-content-area .sectionthree .card .card-body h5{
    font-size: 18px;
    padding-top: 15px; 
}



.left-content-area .card .card-body p{
    color: #787878;
}

.left-content-area .card .card-body p b, .left-content-area .card .card-body p strong {
    margin-bottom: 0px;
    display: inline-block;
    color: #363636;
}

.beschrijving ul li:before {
    padding-right: 10px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;

}

.beschrijving ul {
    padding-left: 35px;
    margin-bottom: 0!important;
    padding: 10px 30px;
}
.card-header.section-title.bg-white h4{
font-size: 20px;
}

.beschrijving ul li{
    font-size: 14px; 
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
    line-height: 22px;

}


.registreren-box h4 {
    font-size: 20px;
}

.registreren-box {
    padding: 1rem 3rem!important;
}

.images-area h4 {
    color: #000;
}

.registreren-box .btn-register {
    padding: 8px 50px;
}

.left-content-area .sectionthree .card .card-body h5:first-child {
    padding-top: 0;
}

.left-content-area .sectionseven .card .card-body h5:first-child {
    padding-top: 0;
}

.contactgegevens-form .form-group input {
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding-left: 65px;
}

.contactgegevens-form .form-group.phone-no-field input {
    padding-left: 150px;
}

.thank-you-msg {
    padding-top: 50px;
}

.contactgegevens-form .form-group.phone-no-field input::-webkit-outer-spin-button, .contactgegevens-form .form-group.phone-no-field input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.contactgegevens-form .form-group.postcode-input input::-webkit-outer-spin-button, .contactgegevens-form .form-group.postcode-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contactgegevens-form .form-group.addd input:-webkit-autofill,
.contactgegevens-form .form-group.addd input:-webkit-autofill:hover,
.contactgegevens-form .form-group.addd input:-webkit-autofill:focus{
border: 1px solid #cdcdcd;
  -webkit-text-fill-color: #333;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;

}

.contactgegevens-form .form-group.postcode-input input:-webkit-autofill,
.contactgegevens-form .form-group.postcode-input input:-webkit-autofill:hover,
.contactgegevens-form .form-group.postcode-input input:-webkit-autofill:focus{
border: 1px solid #cdcdcd;
  -webkit-text-fill-color: #333;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;

}

.contactgegevens-form .form-group.voornaam input {
    padding-left: 25px;
}

.contactgegevens-form .form-group textarea:focus ~ .control-label, .contactgegevens-form .form-group textarea:valid ~ .control-label{
    left: 40px;
}

.contactgegevens-form .form-group textarea {
    padding-left: 60px;
}

.contactgegevens-form .form-group {
    margin-bottom: 12px;
}

.contactgegevens-form .form-group .control-label {
    font-family: 'Axiforma-Light';
}

.multi-steps-area .heading h3 {
    font-size: 22px;
    color: #3e3e3e;
    text-transform: none;
    letter-spacing: 0;
    margin: 0;
    font-family: 'Axiforma-Bold';
}

.contactgegevens-form .form-group.naam input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.contactgegevens-form .form-group.voornaam input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}



.bottom-text p {
    line-height: 18px;
    font-size: 16px;
}

.action-btn {
    margin-bottom: 15px;
}

.contactgegevens-form .form-group .control-label {
    left: 40px;
    color: #999;
}

.contactgegevens-form .icon {
    top: 15px;
    left: 20px;
    font-size: 20px;
    color: #424242;
}

.mr-mrs-btns .btn-switch {
    font-size: 12px;
}

.mr-mrs-btns {
    top: 10px;
}
.contactgegevens-form .form-group .control-label::after {
    content: "*";
    color: red;
    padding-left: 5px;
}

.contactgegevens-form .form-group input:focus ~ .control-label, .contactgegevens-form .form-group input:valid ~ .control-label{
    left: 40px;
}

.contactgegevens-form .form-group.naam .control-label {
    left: 0!important;
}

.contactgegevens-form .form-group.voornaam label.control-label {
    left: 110px!important;
}


.modal-content{
    border-radius: 0;
}


.modal-body {
    border: 1px solid #fff;
}

.multi-steps-modal.modal .modal-header {
    box-shadow: none;
    border-radius: 0;
    border: none;
    background: #f5f5f5;
}

.multi-steps-modal.modal .modal-header h5 {
    color: #292929;
    font-size: 20px;
}

.modal-footer.footer-btns {
    background-color: #ffffff;
    box-shadow: none;
    border: none;
}


.modal-lg {
    max-width: 700px;
}

.modal {
    position: absolute;
    overflow: visible;

}

.multi-steps-modal.modal .modal-content {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 100%;
    min-height: 90vh;
}


.contactgegevens-form .form-group.phone-no-field .control-label {
    left: 125px;
}

.country-code {
    position: absolute;
    top: 5px;
    left: 50px;
    cursor: pointer;
}

.contactgegevens-form .form-group.phone-no-field input:focus ~ .control-label {
    left: 125px;
}

.contactgegevens-form .icon.user-mbl {
    display: none;
}

.multi-steps-area .modal-checkboxes .item-checkbox {
    background: #f5f5f5;
    margin-bottom: 15px;
    border: none;
    display: block;
}

.multi-steps-area .modal-checkboxes .item-checkbox .custom-control-label {
    padding-left: 10px;
    font-family: 'Axiforma-Bold';
}

.multi-steps-area .modal-checkboxes {
    border: none;
}

.multi-steps-area .modal-checkboxes .item-checkbox .radio-style .custom-control-label::before {
    background-color: #ffffff;
}

.sectiontwo .hoe-werk .card .card-body .media:before {
    height: 25px;
}


.latest-box {
    cursor: pointer;
}


.blog-single-content-page .blog-single-area .post-content h5, .blog-single-content-page .blog-single-area .post-content h3, .blog-single-content-page .blog-single-area .post-content h4, .blog-single-content-page .blog-single-area .post-content h6, .blog-single-content-page .blog-single-area .post-content h2, .blog-single-content-page .blog-single-area .post-content h1{
    color: #000;
    font-family: 'Axiforma-Bold'!important;
    font-size: 1.25rem;
}

b, strong {
    font-weight: 700;

}

.content-desc1 {
    padding-left: 10px;
}

.content-desc1 p {
    margin: 0;
    line-height: 20px;
    font-size: 14px;
}


.contact-page .klantenservice-page-area {
    min-height: 53vh;
}

.home-page .navbar-light .navbar-toggler:focus {
    outline: none;
}




.mb-5.index-slider.sub-serv {
    overflow: hidden;
    margin-right: -30px;
    position: relative;
}
    
.sub-serv .react-multiple-carousel__arrow--right {
    right: calc(100%/6 + 20px)!important;
}
    
.sub-serv .react-multi-carousel-list {
    width: calc(100% + 100%/6);
}

.mb-5.index-slider.sub-serv:after {
    content: "";
    background-image: linear-gradient(to right, #ffffff00 , #fffffff2);
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 0px;
    width: 100px;
    height: calc(100% - 20px);
}




.responsive-table {
    overflow: auto;
}


.left-content-area .sectionthree .card .card-body h6 {
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    margin: 0;
    color: #363636;
}

.left-content-area a {
    color: #f03177;
}


.service-mbl-btn{
    display: none;
}



.left-content-area .card .card-body p img {
    float: left;
    margin-right: 10px;
}




/***************************             ******************************/

            /*****************Media Query*******************/

/***************************             *****************************/  















@media only screen and (max-width: 1365px) and (min-width: 1024px)  {

.home-service-title {
    display: none;
}


}


@media screen and (max-width:1024px){

.header-area .header-bg.home-page-bg .header-content h1 {
    font-size: 2.5rem;
}

.header-area .header-bg.home-page-bg .header-content h5 {
    margin-bottom: 30px!important;
    padding-top: 0px!important;
    font-size: 1rem;
}

.mbl-search-logo{
    display: block;
}

.mbl-hide{
    display: none;
}
.mbl-search-logo img {
    max-width: 120px;
    padding-top: 10px;
}

.home-icons span {
    font-size: 14px;
}
.home-icons p {
    font-size: 13px;
}

.home-images-area.voor-area h5 {
    font-size: 20px;
}

/*** 404*****/
.page-four .phone-demo {
    display: none;
}

.error-page .related-service {
    padding-top: 70px;
    padding-bottom: 0px;
}


.page-four .thank-you-heading h2 {
    max-width: 500px;
}




/**** Landing page ****/

.affiliate-landing{
    height: 600px;
}

.landing-page {
    background: #fff;
}

.landing-content-page {
    background: #fff;
}


.landing-page-boxes-area .col-lg-4{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.landing-page-boxes-area .col-lg-4:nth-child(1){
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
}



.landing-page-boxes-area .col-lg-4:nth-child(1) .item {
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,.10)!important;
background: #fff;
max-width: 480px;
margin: 0px auto;
}

.landing-page-boxes-area .col-lg-4:nth-child(2) .item {
    box-shadow: none!important;
background: none;
}

.landingpage-result-area {
    display: none;
}
.leads-immediately-area .col-lg-6{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;

}

.leads-immediately-area{
    text-align: center;
    padding-bottom: 0!important;
}

.leads-immediately-area .border-style {
    display: none!important;
}

.leads-immediately-area .l-desc {
    max-width: 500px;
    margin: 0px auto;
    margin-top: 10px!important;
}

.header-bg.landing-page-bg .header-content .right-content {
    display: none;
}

.leads-immediately-area .addi {
    margin: 0px auto;
}


/***Blog ***/

.blog-grid-area .right-sidebar {
    padding-left: 0!important;
    display: none;
}


.blog-grid-area .col-md-8 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.cat-list {
    overflow-x: auto;
}

.cat-list .nav-item {
    white-space: nowrap;
}
.mbl-show{
    display: block;
}

.blog-content-page .blog-categories .navbar-nav .nav-item .nav-link {
    background: #fff;
    padding: 5px 15px!important;
    border-radius: 30px;
    border: 1px solid #ccc;
    text-align: center;
}

.cat-list .nav-item {
    padding-right: 10px;
}

.cat-list {
    padding-top: 5px;
    border: none;
}

.blog-categories h5 {
    font-size: 18px;
    margin-bottom: 10px!important;
    padding-top: 50px;
    color: #000;
}


ul.navbar-nav.px-lg-0.px-4 {
    padding: 0!important;
}

.blog-list .main-content {
    background: #fff;
}
.blog-content-page .blog-grid-area .messages-title {
    color: #212121;
    font-size: 25px;
}



/****** Contact ******/

.contact-footer{
    display: none;
}




/********** Home ***********/

.home-slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* overflow: hidden; */
    position: relative;
    flex-wrap: nowrap;
}

.home-slider .col-lg-3.col-md-4 {
    -ms-flex: 0 0 38%;
    flex: 0 0 38%;
    max-width: 38%;
    display: inline-block;

}

.home-slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

.home-page .main-content {
    overflow-x: hidden;
}


.index-box .bg-white {
    box-shadow: 4px 3px 8px #0000001c;
}


.home-slider::after {
    content: "";
    position: absolute;
    width: 60px;
    background: linear-gradient(90deg, rgba(0, 28, 63,0) 0%, rgba(255, 255, 255, 0.44) 23%, rgba(255, 255, 255, 0.67) 40%, rgba(230, 230, 230, 0.73) 100%);
    top: 0;
    bottom: 0;
    right: -20px;
}



.mb-5.index-slider {
    overflow: hidden;
    margin-right: -60px;
    position: relative;
}
    
.react-multiple-carousel__arrow--right {
    right: calc(100%/6 + 20px)!important;
}
    
.react-multi-carousel-list {
    width: calc(100% + 100%/6);
}

.mb-5.index-slider:after {
    content: "";
    background-image: linear-gradient(to right, #ffffff00 , #fffffff2);
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 0px;
    width: 100px;
    height: calc(100% - 20px);
}

.contact-page .klantenservice-page-area {
    min-height: auto;
}


}








@media screen and (max-width:991px){

.service-btn-show .service-mbl-btn {
    display: block;
    position: fixed;
    bottom: 10px;
    width: 90%;
    background-image: linear-gradient(90deg,#933574,#2d2962);
    color: #fff;
    border: none;
    padding: 10px;
    z-index: 9999;
    border-radius: .25rem;
    text-align: center;
}

.service-btn-show .service-mbl-btn:hover, .service-btn-show .service-mbl-btn:focus{
    background-image: linear-gradient(90deg,#7e2962,#262356);
    color: #fff;
    text-decoration: none;
}
    
.select-filter-area {
    position: relative;
    top: inherit;
    margin: 0px auto;
    margin-top: -100px;
    margin-bottom: 30px;
}

.filter-btns .btn-install {
    max-width: 100%;
}

.navbar-nav .dropdown-menu{
    position: absolute;
}

.intrested-item {
    border: none;
    box-shadow: none;
}


.cust-ser1{
    flex-direction: column-reverse;

}

.service-content-ui .header-area .header-bg{
    padding-bottom: 130px;
}


/****Service *********/



.registreren-box .d-flex.justify-content-between {
    flex-wrap: wrap;
    justify-content: space-between!important;
    align-items: center;
}

.registreren-box .d-flex.justify-content-between h4 {
    padding: 0;
}

.sectiontwo .hoe-werk .card .card-body .media:before{
    display: none;
}

.left-content-area .bg-white.border.p-2.mb-4 {
    margin-top: 1.5rem;
    display: none;
}

.blog-categories {
    padding: 0px 10px;
}

.post-img.mob-hide {
    display: none;
}


.post-img.mob-show {
    display: block;
}

.single-latest-blog {
    margin-bottom: 20px;
}

.related-article {
    display: none;
}

.blog-bg-white {
    background: #fff;
    padding: 30px 40px;
    position: relative;
    padding-bottom: 1px;
    max-width: 600px;
    margin: 0px auto;
}

.single-latest-blog .latest-blog-section {
    max-width: 650px;
    margin: 0px auto;
}


.blog-single-area .post-title {
    font-size: 27px;
    line-height: 27px;

}

.blog-single-social {
    display: none;
}

.m-zindex {
    position: absolute;
    margin-top: -125px;
}

.blog-single-area .post-content {
    padding-top: 50px;
}

.blog-single-content-page .blog-single-area .post-content h5 {
    padding-bottom: 10px;
}


.single-latest-blog {
    background: transparent;
    margin-top: 20px;
}

.single-latest-blog .latest-blog-section .how-title h3 {
    text-align: center;
    color: #222!important;
    text-transform: inherit;
    font-size: 27px;
}

.right-sidebar.recents-blogs .widget .widget-title {
    text-align: center;
    color: #333!important;
    text-transform: inherit;
    font-size: 27px;
}


.latest-blogs {
    display: flex;
    flex-wrap: wrap;
}

.latest-info-img {
    width: 100%;
    padding-right: 0px;
}

.latest-info {
    width: 100%;
}

.latest-info-img img {
    height: 150px;
}
.latest-info span {
    display: none;
}

.latest-info h6 {
    color: #444;
    margin: 0!important;
    background: #fff;
    padding: 15px;
    font-size: 17px;
    box-shadow: 2px 3px 4px #0000001c;
}
.latest-list {
    width: 33.33%;
    padding: 10px 10px;
    margin: 0;
}

.recents-blogs .mb-5 {
    margin-bottom: 0rem!important;
}


.blog-single-area .select-filter-area {
    position: relative;
    top: inherit;
    margin: 0px auto;
    max-width: 350px;
}

.mbl-form{
    display: block;
    margin-top: 40px;
}


.mbl-form .select-filter-area .select-box {
    box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.75);
}


.right-sidebar .blog-categories-widget {
    display: none;
}

.single-related-blog {
    display: block;
}

.single-related-blog .related-service {
    padding-top: 0;
}



}








@media screen and (max-width:768px){

/**********Blog*******/


.blog-list #header {
    position: absolute;
    z-index: 9999;
    width: 100%;
}

.blog-list #header .header-area{
    background: transparent!important;
    box-shadow: none!important;
}

.blog-content-page .blog-categories .navbar-nav .nav-item .nav-link {
    font-size: 13px;
    color: #666;
}


.blog-content-page .blog-grid-area .blog-items .item .post-des {
    margin-top: 5px;
}

.mbl-design .post-title {
    margin-top: 15px!important;
    margin-bottom: 0!important;
}

.blog-content-page .blog-categories .navbar-nav .nav-item.active .nav-link {
    color: #666;
}

.blog-items .item:before {
    content: "";
    background: #00000036;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.blog-list .navbar-light .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.blog-list #navbar-area {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}


.blog-list .white_logo_mbl{
    display: inline-block;
}

.blog-categories {
    padding: 0px 10px;
}


.blog-list .white_logo_mbl img {
    max-width: 133px;
    width: 100%;
}

.blog-list .default_logo_mbl{
    display: none;
}

.blog-list .header-bg.blog-page-bg:before {
    content: "";
    background: #0000008c;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.blog-page-bg .small-font {
    text-align: left;
    padding-top: 10px;
    max-width: 450px;
    margin: 0px auto;
    font-size: 11px;
}



.header-bg.blog-page-bg .header-content h1 {
    font-size: 40px;
    line-height: 36px;
    text-align: left;
    max-width: 450px;
    margin: 0px auto;
    text-shadow: 1px 3px 3px #1d1b1b;
}
.mbl-remove-pd{
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.blog-content-page .blog-grid-area .blog-items .item img {
    height: 220px;
}
.header-bg.blog-page-bg {
    padding: 130px 5% 100px;
}
.blog-grid-area {
    padding: 0px 10px;
}



.blog-items .item {
    position: relative;
}

.mbl-design {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 20px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.mbl-design .post-title p {
    color: #cccaca;
    font-size: 12px;
    margin-bottom: 5px;
}

.mbl-design .post-des div {
    color: #fff;
    margin-bottom: 0;
    font-family: 'Axiforma-Regular' !important;
    line-height: 1.2;
}

.mbl-design .date {
    color: #cccaca!important;
    margin: 0;
}
.mbl-design .post-title {
    margin-top: 0!important;
}

.search-form-blog {
    max-width: 450px;
    margin: 0px auto;
}








/**********Affiliate landing ******/

.header-bg.landing-page-bg .header-content h1 {
    padding-top: 8%;
    font-size: 30px;
    line-height: 40px;
}


.landing-page .header-content .text-lg-left.text-center {
    text-align: left!important;
}

.header-bg.landing-page-bg .header-content h5 {
    line-height: 24px;
    font-size: 16px!important;
}
.header-bg.landing-page-bg .header-content {
    top: 100px;
    padding: 0px 20px;
}

.landing-content-page .pt-5 {
    padding-top: 20px!important;
    margin-bottom: 0!important;
}

.landing-content-page h3.font-weight-700.mb-4 {
    font-size: 23px;
    margin-bottom: 10px!important;
}

.landing-content-page h5.font-weight-400.mt-4.pt-2 {
    font-size: 16px!important;
    line-height: 1.5;
    margin-top: 0px!important;
}

.landingpage-result-area .border-style {
    display: none;
}

.leads-immediately-area .border-style {
    display: none!important;
}


.landingpage-result-area {
    display: none;
}

.landing-page-boxes-area .col-lg-4:nth-child(1) .item {
max-width: 400px;

}

.affiliate-landing {
    height: 500px;
}



/***********Home**************/


.home-page #navbar-area {
    background: #fff;
    padding: 25px 20px;
    border-radius: 5px;
}

.home-page .navbar-light .navbar-nav .nav-link {
    color: #313131;
}

.header-area .header-bg.home-page-bg .header-content h1 {
    font-size: 2.2rem;
    padding-top: 4%;
}

.search-form {
    max-width: 80%;
}
.search-form input.search-input.form-control {
    height: 55px;
}

.search-form button.btn-search {
    font-size: 15px;
    top: 8px;
    height: 39px;
    width: 130px;

}


.home-service-title h2 {
    font-size: 30px;
    padding-bottom: 10px;
}

.home-service-title p {
    font-size: 15px;
    max-width: 450px;
    line-height: 1.5;
}

.home-service-title {
    padding-top: 0px;
    padding-bottom: 50px;
}

.home-mobile-content-area {
    margin-top: 20px;
    padding-left: 0px;
}

.phone-demo .home-mobile-content-area h6 {
    font-size: 14px;
    line-height: 1.5;
}

.home-mobile-content-area h2 {
    font-size: 25px;
    margin-bottom: 10px!important;
}

.how-box img {
    max-width: 250px;
}

.how-box h3 {
    font-size: 18px;
}

.how-box p {
    font-size: 13px;
    margin-bottom: 20px;
}

.latest-blog-section {
    display: none;
}
.companies-logo-area {
    display: none;
}

.how-title h2 {
    font-size: 30px;
}

.home-icons p {
    font-size: 11px;
}

.home-icons span {
    font-size: 12px;
}

.home-icons img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.home-icons .col-12.col-md-3.col-lg-3.pb-3.pb-lg-0 {
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 0!important;
}

.home-icons {
    padding: 25px 0px;
}

.home-images-area.voor-area h6{
    font-size: 16px;
}

.footer h3.footer-title.text-white.font-weight-400 {
    font-size: 24px;
}






/******* Service *******/

.intrested-item .images-area .col-lg-3.col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}



/********** Email *****/

.register-form {
    max-width: 400px;
    margin: 0px auto;
    min-height: auto;
}

.email-header .text-center {
    max-width: 400px;
    margin: 0px auto;
}

.email-header h3 {
    font-size: 27px;
}

.email-header p {
    font-size: 16px;
    padding-top: 20px;
    line-height: 24px;
    
}
.register-form .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.register-form label {
    display: none;
}


.register-box {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.175)!important;
}
.email-footer{
    display: none;
}

.email-header {
    padding: 50px 0px;
    padding-bottom: 130px;
}


.register-form .auth-input.form-control::placeholder, .register-form .auth-textarea.form-control::placeholder {
    font-size: 15px;
    color: #555;
    visibility: visible;
}


.register-form .btn-create-account {
    font-size: 15px;
    padding: 8px 10px;
    color: #555;
    background: #fff;
}


/********** Contact Page ******/

.klantenservice-chats .col-md-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

hr.c-horz {
    display: none;
}

.faq-container {
    margin-top: 0px;
}

.klantenservice-chats {
    padding: 0px 20px;
}

.email-boxes-aera.mt-5.m-2 {
    margin: 0!important;
    margin-top: 1.5rem!important;
}



/****** Single Blog *********/


.single-latest-blog .latest-blog-section {
    display: block;
}

.single-latest-blog {
    margin-bottom: 20px;
}

.single-latest-blog .latest-box {
    margin-bottom: 30px;
}

.blog-single-area .row {
    margin: 0;
}



.related-service .col-lg-3.col-md-4:last-child {
    display: none;
}



.service-content-ui .header-area .header-bg {
    padding-bottom: 50px;
}

.select-filter-area {
    margin-top: -50px;
}

.registreren-box {
    padding: 1rem 1.5rem!important;
}

}









@media screen and (max-width:767px){


/**** Home******/


.home-slider .col-lg-3.col-md-4 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
    display: inline-block;
}


.home-service-title {
    padding-bottom: 50px;
}

.home-icons{
    display: none;
}


.home-service-title h2 {
    font-size: 25px;
    padding-bottom: 10px;
    line-height: 1.1;
}

.home-page .main-content {
    padding: 0px 20px;
}

.registreren-box.home-registeration-box{
    display: none;
}


.phone-demo {
    display: none;
}

.footer-area .row.mb-5.pb-4 {
    margin-bottom: 0!important;
}

.copyright-area .d-flex.justify-content-between {
    flex-wrap: wrap;
    text-align: center;
}

ul.footer-social-links {
    width: 100%;
}



.footer h3.footer-title.text-white.font-weight-400 {
    font-size: 24px;
    margin-top: 10px;
}

.how-box p {
    font-size: 14px;
    margin-bottom: 40px;
}

.header-area .header-bg.home-page-bg .header-content h5 {
    display: none;
}

.mbl-search-logo{
    display: none;
}

.header-area .header-bg.home-page-bg {
    padding-top: 100px;
    padding-bottom: 50px;
}

.header-area .header-bg.home-page-bg .header-content h1 {
    font-size: 1.2rem;
}

.header-area .home-page-bg.header-bg:before {
    content: " ";
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.96) 18%,rgba(0, 0, 0, 0.72) 82%);
    background: -moz-linear-gradient(90deg,rgba(0, 0, 0, 0.96) 18%,rgba(0, 0, 0, 0.72) 82%);
    background: -webkit-linear-gradient(90deg,rgba(0, 0, 0, 0.96) 18%,rgba(0, 0, 0, 0.72) 82%);
}

.search-form {
    max-width: 99.5%;
}

.search-form input.search-input.form-control {
    height: 50px;
    border: none;
    border-radius: 0;
    box-shadow: 0px 2px 5px 3px #3e3d3d;
}

.search-form .btn-search{
    display: none;
}

.search-form .home-search-icon-area{
    display: block;
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 18px;
}



/***** Thank You *******/


.faq-container {
    border: none;
    margin-top: 20px;
    padding: 50px 10px;
}

.faq-content .accordion__item {
    margin-bottom: 0px;
    border: none;
}

.accordion__item + .accordion__item{
    border-top: none!important;
}

.faq-content .accordion__button {
    font-size: 17px;
    color: #777;
    padding: 18px 20px;
}
.faq-content .accordion__panel {
    margin-top: -10px;
}

.related-service {
    padding: 50px 0px;
    padding-bottom: 0px;
}

.related-service h6 {
    margin-bottom: 30px!important;
}

.related-service .single-img {
    height: 160px;
}

.thank-you-heading h3 {
    font-size: 22px;
}

.thank-you-heading h2 {
    font-size: 25px;
}

.thank-you-heading img {
    max-width: 200px;
}
.related-service h3 {
    font-size: 22px;
}

.thank-you-page .helo-text-register {
    display: none;
}




/*********** 404 Page ***********/


.thank-you-heading h2 {
    font-size: 24px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.error-page .related-service {
    padding-top: 70px;
    padding-bottom: 0px;
}

.error-page .related-service h3 {
    text-align: left;
}

.error-page .thank-you-heading {
    padding: 0px 20px;
}

.error-page .thank-you-heading h2 {
    font-size: 22px;
}

.error-page .helo-text-register span{
    display: none!important;
}



/*********landing page *******/

.landing-page-boxes-area .col-lg-4{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}



.landing-page-boxes-area .col-lg-4:nth-child(2) .item {
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,.10)!important;
background: #fff;
}

.landing-page-boxes-area .col-lg-4:nth-child(1) .item {
    box-shadow: none!important;
background: none;
}

.landing-page-boxes-area .col-lg-4:nth-child(1){
    margin-bottom: 20px;
}

.landing-page-boxes-area .col-lg-4{
    margin-bottom: 20px;
}
.affiliate-landing{
    height: 600px;
}

.landing-page-boxes-area .row.mb-5 {
    margin-bottom: 20px!important;
}
.leads-immediately-area img {
    display: none;
}

/********* Blog ***********/

.blog-page-bg .btn-register {
    width: 100%;
    display: block;
}

.search-form-blog .col-auto.p-0 {
    padding: 0px 15px!important;
    width: 100%;
}

.blog-page-bg .small-font{
    display: none;
}

.header-bg.blog-page-bg {
    padding: 130px 5% 80px;
}

.blog-categories h5 {
    font-size: 15px;
}
.blog-content-page .blog-grid-area .messages-title {
    color: #212121;
    font-size: 22px;
}

.blog-content-page .blog-grid-area .blog-items .item img {
    height: 220px;
}

.search-form-blog {
    padding: 0px 30px;
}

.blog-page-bg .btn-register {
    font-size: 15px;
}

.navbar {
    padding: .5rem 1rem;
}

/********Email ******/

.register-page-area.klantenservice-area .register-box {
    background: transparent!important;
    border: none;
    box-shadow: none!important;
    padding: 20px 5px!important;
}

.email-header {
    padding: 10px 10px!important;
}

.email-header p {
    color: #000;
    padding-top: 30px;
    font-size: 16px;
    display: none;
}

.register-page-area.klantenservice-area .helo-text-register.text-center {
    padding-top: 0;
}

.register-page-area.klantenservice-area .helo-text-register span{
    display: none!important;
}
.register-page-area.klantenservice-area {
    margin-top: 25px;
}
.email-header h3 {
    font-size: 18px;
    margin: 10px auto;
}

.register-page-area .mbl-s{
    display: block;
    text-align: center;
    color: #000;
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 5px;
    padding: 0px;
}

.register-form .auth-input.form-control::placeholder, .register-form .auth-textarea.form-control::placeholder {
    font-size: 14px;
    color: #666;

}

.register-form .auth-textarea.form-control {
    height: 130px;
}

.register-form .auth-input.form-control {
    height: 45px;
    padding: 0px 10px;
}
.register-page-area p {
    line-height: 16px;
    padding: 10px 0px;
}

/**** Contact Page **********/

hr.c-horz {
    display: none;
}

.email-boxes-aera.mt-5 {
    margin-top: 1.5rem!important;
}

.klantenservice-page-area {
    padding-top: 0px;
}
.contact-header {
    background: transparent;
    padding: 50px 10px;
}

.contact-header h3 {
    color: #444;
}

.contact-header p {
    color: #777;
}

.faq-container h3 {
    font-size: 20px;
    padding-left: 10px;
    color: #000;
}


.klantenservice-page-area .faq-content .accordion__button {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    padding: 15px 20px;
    border-radius: 5px;
    padding-right: 50px;
}

.klantenservice-page-area .faq-content .accordion__button:after {
    top: 9px;
}

.klantenservice-page-area .faq-content .accordion__button:before {
    top: 16px;

}

.klantenservice-page-area .faq-container {
    padding: 25px 10px;
    padding-bottom: 15px;
}

.klantenservice-chats {
    padding: 0px 15px;
}

.klantenservice-page-area .helo-text-register.text-center {
    padding-top: 20px;
}

.klantenservice-chats .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}



/**** Single Blog *******/

.single-latest-blog .col-12.col-md-6.col-lg-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.blog-detail-single #header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    top: 0;
}

.blog-detail-single #header .header-area{
    background: transparent!important;
    box-shadow: none!important;
}

.blog-detail-single .navbar-light .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.blog-detail-single #navbar-area {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}


.blog-detail-single .white_logo_mbl{
    display: inline-block;
}


.blog-detail-single .white_logo_mbl img {
    max-width: 133px;
    width: 100%;
}

.blog-detail-single .default_logo_mbl{
    display: none;
}

.blog-detail-single .header-bg.blog-page-bg:before {
    content: "";
    background: #0000008c;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.blog-single-area.mt-5.mb-5 {
    margin: 0!important;
    background: #fff;
}

.recents-blogs {
    display: none;
}

.post-img.mob-show:before {content: "";background: #0000004f;position: absolute;top: 0;left: 0;bottom: 0;right: 0;}

.post-img.mob-show img {
    margin: 0!important;
    height: 320px;
    object-fit: cover;
}


.blog-bg-white{
    padding: 0;
}

.post-img.mob-show {
    position: relative;
}

.blog-single-area .post-title {
    font-size: 24px;
    line-height: 24px;
    padding: 0px 25px;
    margin: 0!important;
}

.m-mbl-hide{
    display: none;
}

.m-mbl-show{
    padding: 10px 25px;
    display: block;
}


.blog-single-area .post-content {
    padding: 30px 25px 0px;
}
.m-zindex {
    padding: 0px 25px;
    margin-top: -120px;
}

.single-latest-blog .latest-blog-section .how-title h3 {
    font-size: 24px;
}

.mbl-social .blog-single-social {
    display: block;
    text-align: center;
}


.header-bg.blog-page-bg .header-content h1{
    font-size: 30px;
    text-align: center;
}



/***********8 Srvice **********/


.header-bredcrumb {
    display: none;
}

.header-area .header-bg .header-content ul {
    display: none;
}


.service-content-ui #header {
    position: absolute;
    z-index: 9999;
    width: 100%;
}

.service-content-ui #header .header-area{
    background: transparent!important;
    box-shadow: none!important;
}

.service-content-ui .navbar-light .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.service-content-ui #navbar-area {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}


.service-content-ui .white_logo_mbl{
    display: inline-block;
}


.service-content-ui .white_logo_mbl img {
    max-width: 133px;
    width: 100%;
}

.service-content-ui .default_logo_mbl{
    display: none;
}

.service-content-ui .header-bg.blog-page-bg:before {
    content: "";
    background: #0000008c;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.service-content-ui .header-area .header-bg {
    padding-bottom: 140px;
    padding-top: 150px;
}

.header-area .header-bg .header-content h1 {
    font-size: 30px;
}

.select-filter-area {
    margin-top: -130px;
}

.left-content-area .card {
    border: none;
    box-shadow: none;
}

.left-content-area .card-header{
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.filter-btns .btn-install {
    padding: 10px 16px;
}
.hoe-werk .card-body {
    padding: 1rem 1rem;
}


.sectionfive .faq-container {
    border: none;
    padding: 2rem 1rem;
    box-shadow: none;
}
.sectionfive .faq-container h3 {
    padding-bottom: 15px;
}

.intrested-item {
    padding: 2rem 0rem;
    background: transparent;
}

.waarom-tonero .card-body {
    padding: 1rem 1rem;
}

.left-content-area .card .media img {
    margin-right: 17px!important;
}

.registreren-box{
    display: none;
}

.images-area .img-flag .single-img {
    height: 160px;
}



.meer-btn {
    display: block;
    background: #fff;
    max-width: 140px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    margin: 0px auto;
    color: #3a7bca;
    box-shadow: 0px 0px 10px #00000026;
    margin-top: 20px;
    position: relative;
    z-index: 9;
}

.meer-btn:hover {
outline: none;
}


.beschrijving {
    height: 500px;
    overflow: hidden;
}


#sectionthree, #sectionseven {
    position: relative;
    padding-bottom: 30px;
    background: #fff;
}


#sectionthree::after, #sectionseven::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
    background: -webkit-linear-gradient(90deg,hsla(0,0%,100%,.96) 18%,hsla(0,0%,100%,.72) 82%, hsla(0, 0%, 100%, 0.05) 82%);
}


.visiblemessage .beschrijving {
    height: auto;
    overflow: inherit;
}

.responsive-table {
    overflow: auto;
}

.beschrijving .card-body {
    padding: 1rem 2rem;
}

.beschrijving ul {
    padding-left: 0px;
}


.card-header.section-title.bg-white h4 {
    font-family: 'Axiforma-SemiBold' !important;
}


.left-content-area .card .card-body .media-body p {
    line-height: 1.2;
    margin-top: 3px;
}

.service-content-ui .header-area .header-bg .header-content h1 {
    font-size: 27px;
}


.multi-steps-modal.modal .modal-content {
    margin: 0;
    border-color: #fff;
}
.multi-steps-modal.modal .modal-header {
    background-color: #ffffff;
}

.multi-steps-area .modal-checkboxes .item-checkbox .custom-control-label {
    font-size: 16px;
}

.multi-steps-area .modal-checkboxes .item-checkbox {
    padding: 22px 40px;
}
.modal-footer.footer-btns {
    background-color: #ffffff;
}
.contactgegevens-form .form-group.voornaam input {
    border-right: 1px solid #cdcdcd!important;
}

.contactgegevens-form .form-group input {
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    
}

.contactgegevens-form .form-group .control-label{
    font-family: 'Axiforma-Light';
    font-size: 16px;
}
.multi-steps-modal.modal .modal-header {
    height: 50px;
    padding: 5px 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px #00000059;
}

.multi-steps-area .heading h3 {
    color: #333;
    margin: 0;
    text-transform: none;
    letter-spacing: 0;
    font-family: 'Axiforma-Regular';
    padding: 0px 10px;
    font-size: 20px;
}

.multi-steps-modal.modal .modal-header h5 {
    font-size: 18px;
    color: #333;
}

.left-content-area .card .card-body p {
    text-align: left;
}


.multi-steps-modal.modal .modal-content {
    overflow-y: auto;
}

.modal {
    position: fixed;
    overflow: hidden;
}

.contactgegevens-form .icon.user-mbl {
    display: inline-flex;
}

.contactgegevens-form .form-group.naam input {
    padding-left: 65px;
}

.contactgegevens-form .form-group.naam .control-label {
    left: 40px!important;
}

.bottom-text p {
    padding-top: 100px;
}


.contactgegevens-form .icon.phone {
    display: none;
}

.country-code {
    left: 6px;
    top:0;
    border-right: 1px solid #cdcdcd;
    height: 50px;
    line-height: 35px;
}

.contactgegevens-form .form-group.phone-no-field input {
    padding-left: 110px;
}

.contactgegevens-form .form-group.phone-no-field .control-label {
    left: 90px;
}

.contactgegevens-form .form-group.phone-no-field input:focus~.control-label {
    left: 90px;
}

.mr-mrs-btns .btn-switch {
    border-color: #424242;
}

.mr-mrs-btns .btn-switch.active {
    background: #424242;
}

.service-content-ui {
    overflow-x: hidden;
}

}



@media screen and (max-width:480px){

.service-btn-show .service-mbl-btn {
    width: 92%;
}

.mb-5.index-slider {
    overflow: hidden;
    margin-right: -40px;
    }
    
.react-multiple-carousel__arrow--right {
    right: calc(100%/4 + 0px)!important;
}
    
.react-multi-carousel-list {
    width: calc(100% + 100%/4);
}



}


@media screen and (max-width:375px){
.blog-single-area .select-filter-area {
    max-width: 320px;
}
}


@media screen and (max-width: 320px){
.blog-single-area .select-filter-area {
    max-width: 280px;
}
}