/*Responsive Style*/
@media (max-width: 1024px) {
    .blog-content-page .blog-categories .navbar-nav .nav-item .nav-link {
        font-size: 12px;
    }
    .blog-single-content-page .right-sidebar .select-filter-area {
        max-width: 100%;
    }
    .blog-single-content-page .filter-btns .btn-install {
        min-width: 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 992px){
.header-area {
    position: relative;
}
.header-area .search-area {
    height: 65%;
    max-height: 48px;
    max-width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    display: none;
    width: 100%;
}
.header-area .search-area .search-icon-area {
    position: absolute;
    top: 60%;
    right: 5px;
    transform: translate(0,-50%);
    background: #fff;
    padding: 5px 10px;

}
}
@media (max-width: 768px) {
.select-filter-area {
    position: relative;
    width: 100%;
    top: 0px;
    margin-bottom: 30px;
}
.select-filter-area.company-profile-filter {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
.header-area.blog-page-header-style .navbar-toggler i{
    color: #fff;
}
.header-area.landing-page-header-style nav.navbar {
    position: relative;
}
.header-area.landing-page-header-style .navbar-nav {
    background: #212121;
}
}
@media (max-width: 600px){
    .home-mobile-content-area {
    margin-top: 0px;
}
}