/*
Styles----------------------------------
---------------------------------
*/
/*Fonts Include*/
@font-face {
  font-family: 'Axiforma-Regular';
  src: url(../fonts/Axiforma-Regular.ttf) format('truetype');
  src: url(../fonts/Axiforma-Regular.eot) format('embedded-opentype'),
   url(../fonts/Axiforma-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Axiforma-Thin';
  src: url(../fonts/Axiforma-Thin.ttf) format('truetype');
  src: url(../fonts/Axiforma-Thin.eot) format('embedded-opentype'),
   url(../fonts/Axiforma-Thin.woff) format('woff');
}
@font-face {
  font-family: 'Axiforma-Light';
  src: url(../fonts/Axiforma-Light.ttf) format('truetype');
  src: url(../fonts/Axiforma-Light.eot) format('embedded-opentype'),
   url(../fonts/Axiforma-Light.woff) format('woff');
}
@font-face {
  font-family: 'Axiforma-SemiBold';
  src: url(../fonts/Axiforma-SemiBold.ttf) format('truetype');
  src: url(../fonts/Axiforma-SemiBold.eot) format('embedded-opentype'),
   url(../fonts/Axiforma-SemiBold.woff) format('woff');
}
@font-face {
  font-family: 'Axiforma-Medium';
  src: url(../fonts/Axiforma-Medium.ttf) format('truetype');
  src: url(../fonts/Axiforma-Medium.eot) format('embedded-opentype'),
  url(../fonts/Axiforma-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Axiforma-Bold';
  src: url(../fonts/Axiforma-Bold.ttf) format('truetype');
  src: url(../fonts/Axiforma-Bold.eot) format('embedded-opentype'),
   url(../fonts/Axiforma-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Axiforma-ExtraBold';
  src: url(../fonts/Axiforma-ExtraBold.ttf) format('truetype');
  src: url(../fonts/Axiforma-ExtraBold.eot) format('embedded-opentype'),
   url(../fonts/Axiforma-ExtraBold.woff) format('woff');
}

body {
    background: #f5f5f5;
    font-family: 'Axiforma-Regular';
    font-size: 14px;
    line-height: 1.75;
}
ul,li{
  list-style: none;
}
.font-weight-200 {
    font-family: 'Axiforma-Thin' !important;
}
.font-weight-300 {
    font-family: 'Axiforma-Light' !important;
}
.font-weight-400 {
    font-family: 'Axiforma-Regular' !important;
}
.font-weight-500 {
    font-family: 'Axiforma-Medium' !important;
}
.font-weight-600 {
    font-family: 'Axiforma-SemiBold' !important;
}
.font-weight-700 {
    font-family: 'Axiforma-Bold' !important;
}
.font-weight-800 {
    font-family: 'Axiforma-ExtraBold' !important;
}
/*Header*/
.header-area .search-area {
    position: relative;
}
.header-area .search-area input {
    background-color: #f0f0f0;
    transition: background-color .1s ease-in-out;
    border: none !important;
    position: relative;
    padding-left: 35px;
}
.header-area .search-area .search-icon-area {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0,-50%);
}
.header-area .search-area .input-group-text{
    background-color: rgba(67,81,80,.6);
    transition: background-color .1s ease-in-out;
    border: none !important;
}
.header-area .search-area input:active, .header-area .search-area input:focus {
    color: rgba(0,0,0,.87);
    box-shadow: none;
}
.header-area .search-area {
    height: 65%;
    max-height: 48px;
    max-width: 470px;
    margin-left: 30px;
    margin-right: 30px;
    display: block;
    width: 100%;
}
.header-area .navbar-light .navbar-nav .nav-link:hover{
    color: #f03177;
}
.header-area .header-bg {
    background-image: url('../../assets/images/airco.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 20px;
    padding-bottom: 6%;
    z-index: 999;
    height: 100%;
    width: 100%;
}
.header-area .header-bg:before {
    content: " ";
    background: rgba(0,0,0,0.6954131994594712);
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.7) 18%,rgba(0, 0, 0, 0) 82%);
    background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.79) 18%, rgba(0, 0, 0, 0.52) 82%);
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.79) 18%, rgba(0, 0, 0, 0.52) 82%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
.header-area .header-bg .header-bredcrumb .breadcrumb {
    background: transparent;
    padding: 10px 0px;
}
.header-area .header-bg .header-bredcrumb .breadcrumb .breadcrumb-item a{
    color: #fff;
    padding: 0;
    font-size: 14px;
    line-height: 1.75;
}
.header-area .header-bg .header-bredcrumb .breadcrumb .breadcrumb-item.active{
    color: #fff;
    font-size: 14px;
    line-height: 1.75;
}
.header-area .header-bg .header-bredcrumb .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #fff;
    content: "/";
}
.header-area .header-bg .header-content h1{
    padding-top: 0px;
    font-size: 35px;
}
.header-area .header-bg .header-content ul{
   font-family: 'Axiforma-Regular';
    font-size: 15px;
    list-style: none;
    color: #c1c1c1;
}
.header-area .header-bg .header-content ul li {
    padding-bottom: 10px;
}
.header-area .header-bg .header-content ul li:before {
   font-family: "Font Awesome 5 Free";
   color: #c1c1c1;
   font-size: 11px;
   content: "\f111";
   display: inline-block;
   padding-right: 10px;
   vertical-align: middle;
   font-weight: 900;
}    
/*
Main Content Style-----------------
-----------------------------------------*/
.main-content .left-content-area .section-items .navbar-nav .nav-item .nav-link {
  font-size: 12px;
  font-family: 'Axiforma-Semibold';
  color: #131312;
  padding: 3px 10px;
}
.main-content .left-content-area .section-items .navbar-nav .nav-item.active .nav-link {
    color: #4b265c;
}
.section-title {
    font-family: 'Axiforma-SemiBold';
 }
 .card-header.section-title.bg-white {
    padding: 24px 32px;
}
 .card-header.section-title.bg-white h4 {
    color: #000;
    font-size: 18px;
    width: 100%;
 }
.left-content-area .card .card-body h5 {
    color: #000;
    font-size: 14px;
    font-family: 'Axiforma-Medium';
}
.left-content-area .card .card-body p {
  color: #686868;
  font-family: 'Axiforma-Regular';
  font-size: 12px;
  line-height: 1.5;
}
.sectiontwo .hoe-werk .card .card-body .media:before {
    height: 32%;
    content: "";
    position: absolute;
    width: 2px;
    background: #e2e2e2;
    left: 3%;
    z-index: -1;
    top: calc(50% + 28px);
}
.sectiontwo .hoe-werk .card .card-body .media {
    position: relative;
    z-index: 999;
}
.sectiontwo .hoe-werk .card .card-body .media:nth-child(3):before {
    display: none;
}
.left-content-area .sectionthree .card .card-body h5 {
    color: #0d0d0d;
    font-size: 16px;
    font-family: 'Axiforma-Medium';
}
.beschrijving .card-body h5{
  font-family: 'Axiforma-SemiBold' !important;
}

.beschrijving ul {
  list-style: none;
  font-size: 14px;
  font-family: 'Axiforma-Regular' !important;
  margin-bottom: 1.5rem!important;
}
.beschrijving ul li {
 margin-bottom: 7px;
    color: #686868;
    font-size: 14px;
    line-height: 1.75;
}

.beschrijving ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  color: #f03177;
  font-size: 18px;
  content: "\f058";
  display: inline-block;
  padding-right: 15px;
  vertical-align: middle;
  font-weight: 900;
}

/*.sectiontwo .hoe-werk .card .card-body .media:first-child {
    position: relative;
    z-index: 1000;
}
.sectiontwo .hoe-werk .card .card-body .media:first-child:before {
    content: "";
    position: absolute;
    z-index: -1;
    border: 1px solid #e2e2e2;
    left: 18px;
    height: 20px;
    top: 55px;
}
.sectiontwo .hoe-werk .card .card-body .media:nth-child(2) {
    position: relative;
    z-index: 1000;
}
.sectiontwo .hoe-werk .card .card-body .media:nth-child(2):before {
    content: "";
    position: absolute;
    z-index: -1;
    border: 1px solid #e2e2e2;
    left: 18px;
    height: 25px;
    top: 65px;
}*/
ul.body-list-icons {
    list-style: none;
    font-size: 14px;
}
ul.body-list-icons li{
    color: #000;
    margin-bottom: 7px;
}
ul.body-list-icons li:before {
   font-family: "Font Awesome 5 Free";
   font-weight: bold;
   color: #f03177;
   font-size: 18px;
   content: "\f058";
   display: inline-block;
   padding-right: 15px;
   vertical-align: middle;
   font-weight: 900;
}
.card-body {
    padding: 2rem;
}
.body-padding {
    padding: 2rem;
}
/*Right box*/
.select-filter-area {
    position: sticky;
    width: 100%;
    top: 50px;
    z-index: 999;
    max-width: 350px;
    margin-top: -100px;
    -webkit-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 10px 0px rgba(0,0,0,0.75);
    max-width: 350px;
}
.select-filter-area .select-box {
    background: linear-gradient(#872b66, #3b2559);
    background: -moz-linear-gradient(#872b66, #3b2559);
    background: -webkit-linear-gradient(#872b66, #3b2559);
}
.score-filter span.score-rating {
    font-size: 28px;
}
.filter-btns .btn-install {
    background: #fff;
    font-family: "Axiforma-Regular";
    margin-bottom: 20px;
    display: flex;
    padding: 12px 16px;
    border: none;
    max-width: 300px;
    width: 100%;
}
.filter-btns .btn-install p {
    text-align: left;
    flex: 1;
    width: 90%;
    display: inline-block;
    margin: 0;
}
/*Rating CSS*/
.rating {
  position: relative;
}

.hidden {
  opacity: 0;
}

.star {
  display: inline-block;
  margin: 0px;
  font-size: 20px;
  color: whitesmoke;
  position: relative;
}
.star.animate {
  -webkit-animation: stretch-bounce .5s ease-in-out;
}
.star.hidden {
  opacity: 0;
}

.full:before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  display: inline-block;
  content: "\f005";
  position: relative;
  float: right;
  z-index: 2;
}

.half:before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  content: "\f089";
  position: absolute;
  float: left;
  z-index: 3;
}

.star-colour {
  color: #218d27;
}

@-webkit-keyframes stretch-bounce {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.5);
  }
  50% {
    -webkit-transform: scale(0.9);
  }
  75% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
.selected:before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  content: "\f005";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(1);
  opacity: 1;
  z-index: 1;
}
.selected.pulse:before {
  -webkit-transform: scale(3);
  opacity: 0;
}
.selected.is-animated:before {
  transition: 1s ease-out;
}

.score {
  font-size: 20px;
}

.score-rating {
    color: #212121;
    font-weight: 700;
    position: relative;
    font-size: 50px;
}

.total {
  vertical-align: sub;
  top: 0px;
  position: relative;
  font-size: 100%;
}

.average {
  font-size: 20px;
  color: indianred;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.average .score-average {
  padding-top: 30px;
}
.score span {
    color: #212121;
}
.left-content-area .progress_bar p.progress-label {
    font-size: 16px;
    color: #212121;
}
.progress_bar .progress {
    border-radius: 10px;
    height: .50rem;
}
.bg-lightgreen {
    background:#c0c42a;
}
.comments .comment .media h5{
    color: #212121;
}
.comments .comment .media p{
    font-family: 'Axiforma-Light';
    color: #212121;
}
.registreren-box {
    background: #262356;
    background: linear-gradient(right, #262356, #a22d6a);
    background: -moz-linear-gradient(right, #262356, #a22d6a);
    background: -webkit-linear-gradient(right, #262356, #a22d6a);
    border-radius: 5px;
}
.registreren-box h4 {
    padding-top: 12px;
}
.registreren-box .btn-register{
    background: #f03177;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 50px;
    border-radius: 50px;
    border: 2px solid #f03177;
}
.beschrijving h5.font-weight-400.mb-4 {
    font-size: 18px;
}
.registreren-box .btn-register:hover {
    background: transparent;
}
.img-flag {
    position: relative;
}
.img-flag img{
    border-radius: 5px;
}
.img-flag .country-flag{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 0px;
}
.images-area .img-flag .single-img {
  height: 130px;
  width: 100%;
  border-radius: 0px;
  object-fit: cover;
  object-position: center;
}

.images-area h6 {
  color: #444;
  margin: 0!important;
  background: #fff;
  padding: 15px;
  font-size: 17px;
  box-shadow: 2px 3px 4px #0000001c;
}

/*
Account Setting -----------
-----------------------------------*/
.account-setting-area.register-page-area {
  padding-top: 5%;
}
.register-page-area.account-setting-area .user-img-name .user_img .user-name-words {
  position: relative;
}
.register-page-area.account-setting-area .user-img-name .user_img .user-name-words a {
    background: #e5e5e5;
    color: #414141;
    font-size: 34px;
    height: 80px;
    display: inline-block;
    width: 80px;
    text-align: center;
    line-height: 85px;
    border-radius: 50%;
    position: relative;
}
.register-page-area.account-setting-area .user-img-name .user_img .user-name-words i {
    color: #218d27;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 64px;
}
.register-page-area.account-setting-area .media-body .small-font {
    font-size: 12px;
    line-height: 14px;
}
.register-page-area.account-setting-area .media-body .name{
  color: #414141;
}
.register-page-area.account-setting-area .media-body .email{
  color: #414141;
}
.register-page-area.account-setting-area .media-body .account{
  color: #bbb;
}
.register-form.account-setting-form h4{
  font-size: 18px;
}
.register-form.account-setting-form .personal-info  button.btn-save-setting {
    background: #637381;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    padding-bottom: 8px;
}
.register-box.accoun-setting-box input {
  position: relative;
}
.register-box.accoun-setting-box .selected-text .field-name {
    color: #212b35;
    position: absolute;
    top: 36px;
    left: 20px;
    background: #dee3e8;
    height: 35px;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 26px;
}
.register-box.accoun-setting-box .selected-text .field-name i {
    color: #637381;
    font-size: 18px;
    position: relative;
    top: 2px;
}
.radio-style .custom-control-label::before {
    top: .10rem;
    left: -1.7rem;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    pointer-events: none;
    content: "";
    background-color: #f9fafa;
    border: #eaeef1 solid 1.5px;
}
.radio-style .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #5c6ac3;
    background-color: transparent;
}
.custom-radio.radio-style .custom-control-input:checked~.custom-control-label::after {
    background-image: none;
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    color: #5c6ac3;
    font-size: 10px;
    top: 3px;
    left: -26px;
    text-align: center;
}
.custom-checkbox.checkbox-style .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: #f9fafa;
    border-color: #dee3e8;
}
.custom-checkbox.checkbox-style .custom-control-input:disabled:checked~.custom-control-label::after {
    background-image: url(../../assets/images/check_icon_disabled.png);
}
.helo-text-register.text-center.account-setting-info-text {
    padding-top: 5%;
}
/*
Home Page Style ----------------------
----------------------------------
*/
.home-content-bg {
  background: #fff
}
.header-area .header-bg.home-page-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 10%;
    padding-bottom: 7%;
    z-index: 999;
    height: 100%;
    width: 100%;
}
.header-area .home-page-bg.header-bg:before {
    content: " ";
    background: rgba(118,113,111,0.80);
    background: linear-gradient(90deg,rgba(0, 0, 0, 0) 18%,rgba(0,0,0,.5) 82%);
    background: -moz-linear-gradient(90deg,rgba(0, 0, 0, 0) 18%,rgba(0,0,0,.5) 82%);
    background: -webkit-linear-gradient(90deg,rgba(0, 0, 0, 0) 18%,rgba(0,0,0,.5) 82%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}
.header-area .header-bg.home-page-bg .header-content h1 {
  padding-top: 0;
  font-size: 3.1rem;
  text-shadow: 0 0 14px rgba(0, 0, 0, .5);
}

.search-form {
    position: relative;
    max-width: 60%;
    margin: 0 auto;
}
.search-form input.search-input.form-control {
    margin: 0 auto;
    height: 65px;
    padding-left: 25px;
    position: relative;
    border: 4px solid #f7f6f699;
}
.companies-logo-area h3 {
    font-size: 24px;
}
.form-control:focus {
  box-shadow: none;
}
.btn.btn-pink {
  background: #f13178 !important;
  color: #fff !important;
  border-color: #f13178 !important;
}
.search-form button.btn-search {
    font-size: 16px;
    position: absolute;
    top: 9px;
    right: 8px;
    height: 47px;
    width: 150px;
    border-radius: 8px;
}
.btn.btn-pink:hover {
  background: #d42667 !important;
}
.search-form button.btn-search:focus {
  box-shadow: none;
}
.header-area .header-bg .header-content ul.search-tabs li:before {
  display: none;
}
.light-text {
  color: #fcfcfc !important;
}
.gray-text {
  color: #787878 !important;
}
.header-area .header-bg .header-content ul.search-tabs li {
    padding-bottom: 0px;
    display: inline-block;
}
.header-area .header-bg .header-content ul.search-tabs li a {
    font-family: "Axiforma-Light";
    background: #6b2679;
    color: #fff;
    padding: 9px 15px;
    border-radius: 50px;
    font-size: 12px;
    margin-right: 6px;
}
.header-area .header-bg .header-content ul.search-tabs li a:hover{
  text-decoration: none;
}
.home-images-area.voor-area img {
    height: 130px;
    width: 100%;
    border-radius: 0px;
    object-fit: cover;
    object-position: center;
}
.home-images-area.voor-area h5 {
  font-size: 24px;
  color: #242424;
  margin-bottom: 5px;
  padding: 0px 10px;
}
.home-images-area.voor-area h6 {
  color: #444;
  margin: 0!important;
  background: #fff;
  padding: 0;
  font-size: 17px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.index-box .bg-white {
  box-shadow: 2px 3px 4px #0000001c;
  padding: 15px;
}
.home-mobile-content-area {
  margin-top: 70px;
  padding-left: 60px;
}
.btn:focus{
  box-shadow: none;
}
button.btn.btn-pink.create-account-btn {
    padding: 10px 40px;
    border-radius: 50px;
}
.companies-logos img {
    margin-right: 40px;
}
.registreren-box.home-registeration-box {
    border-radius: 0px;
    background: #262356 ;
    background: linear-gradient(to right, #a22d6a 0%, #262356 60%);
    background: -moz-linear-gradient(to right, #a22d6a 0%, #262356 60%);
    /* background: -webkit-linear-gradient(to right, #a22d6a 0%, #262356 60%); */
}
.companies-logo-area:hover h3{
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 4s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
/*End Home page*/
/*
Login & Register Page Style ------------------------------
---------------------------------------------------------------*/
.flexbox-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.login-page-area h3{
    font-size: 24px;
    color: #414141;
}
.register-page-area.klantenservice-area h3{
    font-size: 24px;
    color: #464242;
}
.login-page-area p{
    color: #6a7581;
}
/* .register-page-area {
  padding-top: 15%;
} */
.register-page-area h3{
    font-size: 24px;
    color: #464242;
}
.info-text {
  color: #6a7581;
}
.register-page-area p{
    color: #6a7581;
}
.register-form label {
  font-family: 'Axiforma-SemiBold';
  font-size: 15px;
  color: #000000;
  margin-bottom: 0;
}
.register-form .checkbox-style .custom-control-label {
  font-family: 'Axiforma-Regular';
}
.register-form .checkbox-style .custom-control-label a{
  color: #4a67fd;
}
.helo-text-register a{
  color: #4a67fd;
}
.register-box {
    border: 1px solid #dedede;
    border-radius: 5px;
}
.btn-create-account {
  min-width: 220px;
}
.helo-text-register.text-center {
    padding-top: 15%;
}
.auth-input.form-control {
    height: 44px;
    border-color: #cad2d9;
}
.auth-input.form-control{
  border-color: #c4cdd5;
  border-width: 1.5px;
}
.auth-textarea.form-control {
  border-color: #c4cdd5;
  border-width: 1.5px
}
.form-control:focus {
    box-shadow: none;
    outline: none;
    border-color: #c4cdd5;
}
.error .form-control {
    border-color: #e24c30;
    background: #fae9e4;
}
.error span.error-message {
    color: #bf0711;
    font-family: "Axiforma-Medium"
}
.custom-checkbox.checkbox-style .custom-control-input:checked~.custom-control-label::after {
    background-image: url('../../assets/images/check_icon.png');
}
.helo-text-register span {
    color: #47c1bf;
    font-size: 20px;
    height: 40px;
    line-height: 45px;
    width: 40px;
    border-radius: 50%;
}
.helo-text-register p {
    color: #787878;
}
.checkbox-style .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #5c6ac4;
    background-color: transparent;
}
.checkbox-style .custom-control-label {
    font-family: "Axiforma-Medium";
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    padding-left: 2px;
}
.checkbox-style .custom-control-label::before {
    position: absolute;
    top: 0.1rem;
    left: -1.5rem;
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #5c6ac4 solid 1px;
}
.checkbox-style .custom-control-label::after {
    position: absolute;
    top: 0.1rem;
    left: -1.5rem;
    display: block;
    width: 1.1rem;
    height: 1.1rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}
.checkbox-style .custom-control-input:focus~.custom-control-label::before{
   box-shadow: none;
}
.register-btn.same-width-btn.btn {
  border-width: 1.5px;
}
.register-btn.same-width-btn.btn:hover{
  border-color: #f13178 !important;
}
.same-width-btns {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.same-width-btn{
    font-size: 16px;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100% - 10px) / 2);
    height: 42px;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.logo-text a{
  color: #0079cd;
  font-size: 16px;
}
/*
klantenservice Page style*/

.klantenservice-page-area {
  padding-top: 50px;
}
.klantenservice-page-area h3 {
    font-size: 24px;
    color: #464242;
}
.klantenservice-page-area p {
    color: #6a7581;
}
.snelste-responsetijd-area .card {
  border-color: transparent;
  border-width: 0px;
}
.snelste-responsetijd-area .card-header {
  background-image: linear-gradient(to right, #7e2962, #262356);
  padding: 16px 20px;
}
.snelste-responsetijd-area .card-body .text-black {
  color: #000;
  font-size: 15px;
}
.snelste-responsetijd-area .card-body p {
  color: #787878;
  margin-bottom: 0px;
  font-size: 12px;
}
.snelste-responsetijd-area .card-body .btn.btn-chat {
  background-image: linear-gradient(to right, #7e2962, #262356);
  padding: 4px 15px;
  color: #fff;
  font-size: 13px;
}
.snelste-responsetijd-area .card-body .btn.btn-chat:hover {
  background-image: linear-gradient(to right, #933574, #2d2962);
}
.email-boxes-aera .email-box .text-black {
  color: #212b36;
  font-size: 15px;
}
.email-boxes-aera .email-box p {
  color: #787878;
  font-size: 12px;
  margin-bottom: 0px;

}
.email-boxes-aera .email-box p a{
  color: #637381;
}

.snelste-responsetijd-area h5 {
  font-size: 16px;
}


.email-boxes-aera .email-box .btn.btn-white {
  background: #fafbfc;
  color: #212b36;
  border: 1.5px solid #c4cdd5;
  padding: 4px 15px;
}
.email-boxes-aera .email-box  .btn.btn-white:hover {
  background: #dbdede;
}
.email-boxes-aera .email-box.shadow-sm {
  border: 2px solid #d5d5d5;
}
/* .register-page-area.klantenservice-area {
  padding-top: 10%;
} */
.register-page-area.klantenservice-area .helo-text-register.text-center{
  padding-top: 20%;
}
.register-page-area.klantenservice-area .address-boxes {
  padding-top: 10%;
}
.no-resize {
  resize: none;
}
.address-boxes .address-box h5 {
  font-size: 18px;
  color: #212b36;
}
.address-boxes .address-box p {
  color: #212b36;
}
/*
Company Profile Style------------------------
-------------------------------------------------*/
.select-filter-area.company-profile-filter {
    margin-top: 100px;
    margin-bottom: 30px;
}
.belivert-area .rating-stars i {
    color: #228d27;
}
.belivert-area .media-body h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
.contact-openmen-button {
    margin-top: 28px;
}
.contact-openmen-button button.btn.btn-light {
    font-size: 14px;
}
.btn.btn-light {
  background: #fcfcfd;
  border-color: #d0d7dd;
  color: #212b3a;
}
.btn.btn-light:hover {
    background: #892b66;
    color: #fff;
    border-color: #892b66;
}
.btn.btn-light:active {
    background: #892b66;
    color: #fff;
    border-color: #892b66;
}
.btn.btn-light:focus {
  box-shadow: none;
}
.deze-partner .imgs-title img {
    height: 153px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
/*End Company Profile*/
/*Footer*/
.footer {
    background: #000;
    padding-top: 50px;
    padding-bottom: 30px;
}
.footer-logo img {
    margin-top: -10px;
}
.footer-links {
    list-style: none;
}
.footer-links li a{
    color: #828282;
    margin-bottom: 5px;
    display: inline-block;
}
.footer-links li a:hover{
    color: #fff;
}
.footer h3.footer-title.text-white.font-weight-400 {
    margin-bottom: 13px;
}
.copyright-text {
    color: #828282;
}
.footer-social-links a {
    color: #828282;
    font-size: 20px;
    display: inline-block;
    padding-right: 12px;
}


.contactgegevens-form .form-group textarea:focus ~ .control-label, 
.contactgegevens-form .form-group textarea:valid ~ .control-label {
  font-size: 0.8rem;
  color: gray;
  top: -0.5rem;
  left: 0;
  background: #fff;
  margin-left: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
.contactgegevens-form .form-group textarea{
  padding-left: 35px;
  padding-top: 10px;
}

.search_icon {
  position: relative;
}

.search_icon ul.search-list {
  background: white;
  padding: 5px;
  margin-bottom: 0px;
  position: absolute;
  width: 100%;
}

.search_icon ul.search-list li {
  background-color: #e8f0fe;
}

.search_icon ul.search-list li:not(:last-child) {
  margin-bottom: 5px;
}

.search_icon ul.search-list li a {
  display: block;
  color: #000000;
  padding: 5px 10px;
}

.search_icon ul.search-list li a:hover {
  background: #e75076;
  color: #ffffff;
}

.search_icon.cust789 ul li:before {
  display: none!important;
}

.search_icon.cust789 ul.search-list li {
  padding-bottom: 0px;
  text-align: left;
  color:#000000;
}

.search_icon.cust789 ul.search-list li{
 font-family:"Axiforma-Regular";
 font-size:14px;
}

.custi78 iframe{
  height: 450px;
}

.content-desc1 ul {
  padding-left: 20px;
}

.content-desc1 ul li {
  list-style-type: disc;
  padding: 5px 0px;
}

.content-desc1 ul {
  margin-top: 10px;
}
.d-block-i-span span.react-loading-skeleton{
  display: block;
}

.search_icon ul.search-list{
  padding-left:5px !important ;
}